@charset "UTF-8";
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, :before, :after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

[data-whatinput="mouse"] a:focus, button:focus
[data-whatinput="touch"] a:focus, button:focus {
  outline: none; }

:focus {
  outline: none; }

img {
  border: 0px;
  display: inline-block;
  max-width: 100%;
  height: auto; }

a, input {
  outline: none; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .container {
      padding: 0 22px; } }

@media screen and (min-width: 992px) {
  .pdtop150 {
    padding-top: 150px; }

  .pdbottom150 {
    padding-bottom: 150px; }

  .pdtop105 {
    padding-top: 105px !important; }

  .pdbottom105 {
    padding-bottom: 105px !important; }

  .pdbottom60 {
    padding-bottom: 60px; }

  .pdtop60 {
    padding-top: 60px; }

  .mgtop105 {
    margin-top: 105px; }

  .mgbottom105 {
    margin-bottom: 105px; } }
@media screen and (max-width: 991px) {
  .pdtop150 {
    padding-top: 110px; }

  .pdbottom150 {
    padding-bottom: 110px; }

  .pdtop105 {
    padding-top: 85px !important; }

  .pdbottom105 {
    padding-bottom: 85px !important; }

  .pdbottom60 {
    padding-bottom: 50px; }

  .pdtop60 {
    padding-top: 50px; }

  .mgtop105 {
    margin-top: 85px; }

  .mgbottom105 {
    margin-bottom: 85px; } }
@media screen and (max-width: 767px) {
  .pdtop150 {
    padding-top: 90px; }

  .pdbottom150 {
    padding-bottom: 90px; }

  .pdtop105 {
    padding-top: 65px !important; }

  .pdbottom105 {
    padding-bottom: 65px !important; }

  .pdbottom60 {
    padding-bottom: 40px; }

  .pdtop60 {
    padding-top: 40px; }

  .mgtop105 {
    margin-top: 65px; }

  .mgbottom105 {
    margin-bottom: 65px; } }
@media screen and (max-width: 480px) {
  .pdtop150 {
    padding-top: 60px; }

  .pdbottom150 {
    padding-bottom: 60px; }

  .pdtop105 {
    padding-top: 35px !important; }

  .pdbottom105 {
    padding-bottom: 35px !important; }

  .pdbottom60 {
    padding-bottom: 20px; }

  .pdtop60 {
    padding-top: 20px; }

  .mgtop105 {
    margin-top: 35px; }

  .mgbottom105 {
    margin-bottom: 35px; } }
.text-right {
  text-align: right; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
select,
textarea {
  border-radius: 2px;
  border: 1px solid #2e2e2e;
  background-color: #ffffff;
  color: #2e2e2e;
  opacity: 0.35;
  font-size: 16px;
  font-weight: 300;
  padding: 11px 20px 11px 24px;
  width: 100%; }
  @media screen and (max-width: 767px) {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    select,
    textarea {
      font-size: 13px;
      padding: 10px 20px; } }
  input[type="text"]:invalid,
  input[type="email"]:invalid,
  input[type="password"]:invalid,
  input[type="search"]:invalid,
  input[type="tel"]:invalid,
  select:invalid,
  textarea:invalid {
    border-color: #e32727; }
  input[type="text"]:not(:placeholder-shown),
  input[type="email"]:not(:placeholder-shown),
  input[type="password"]:not(:placeholder-shown),
  input[type="search"]:not(:placeholder-shown),
  input[type="tel"]:not(:placeholder-shown),
  select:not(:placeholder-shown),
  textarea:not(:placeholder-shown) {
    opacity: 1; }
  input[type="text"]:placeholder-shown,
  input[type="email"]:placeholder-shown,
  input[type="password"]:placeholder-shown,
  input[type="search"]:placeholder-shown,
  input[type="tel"]:placeholder-shown,
  select:placeholder-shown,
  textarea:placeholder-shown {
    opacity: .35; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  select:focus,
  textarea:focus {
    opacity: 1; }

textarea {
  resize: vertical;
  min-height: 123px; }

.button, button {
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 0;
  line-height: 21px;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 30px;
  border: none;
  border-radius: 2px;
  background-color: #ffd92c;
  text-decoration: none;
  display: inline-block;
  transition: all .3s; }
  @media screen and (max-width: 767px) {
    .button, button {
      font-size: 14px;
      padding: 10px 20px; } }

.button.green-button {
  color: #ffffff;
  background-color: #54bd6f; }

.button:not(.button2):hover {
  background-color: #d0b020; }

.button2 {
  border-radius: 0;
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  transition: all .3s;
  padding-left: 0; }

.button2:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 38px;
  margin-left: 20px;
  border-radius: 2px;
  background: #ffd92c url(../images/next-angle-arrow.svg) no-repeat center;
  transition: all .3s; }
  @media screen and (max-width: 767px) {
    .button2:after {
      width: 30px;
      height: 32px; } }

.button2:hover:after {
  background-color: #d0b020; }

form {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    form {
      box-shadow: 0 5px 14px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
      margin-bottom: 20px; } }
  form .form-control {
    margin-bottom: 24px; }
  form .top-fset {
    padding: 52px 12% 20px 12%; }
  form legend {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    display: block;
    margin-bottom: 30px; }
  form .btm-fset {
    padding: 20px 12% 0px 12%;
    background-color: #f1f2f3; }
  form .btm-fset1 {
    padding: 30px 12%; }
  form label {
    font-size: 12px;
    font-weight: 500;
    display: block;
    line-height: 16px;
    margin-bottom: 6px; }
  form .button {
    width: 100%;
    display: block;
    padding: 24px 30px; }
  @media screen and (max-width: 767px) {
    form .top-fset, form .btm-fset, form .btm-fset1 {
      padding: 5px 0px; }
    form .btm-fset {
      background: none; }
    form .button {
      padding: 15px 30px; } }
  form span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: block; }
  form .file-input {
    overflow: hidden;
    position: relative;
    width: 177px;
    height: 49px; }
    form .file-input span {
      font-size: 16px;
      font-weight: 700;
      border-radius: 2px;
      display: block;
      height: 100%;
      padding: 17px 20px;
      background-color: #f1f2f3; }
    form .file-input input[type=file] {
      cursor: inherit;
      display: none;
      filter: alpha(opacity=0);
      height: 100%;
      width: 100%;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0; }
  form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #2e2e2e;
    opacity: 0.35;
    font-size: 16px;
    font-weight: 300; }
  form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #2e2e2e;
    opacity: 0.35;
    font-size: 16px;
    font-weight: 300; }
  form :-ms-input-placeholder {
    /* IE 10+ */
    color: #2e2e2e;
    opacity: 0.35;
    font-size: 16px;
    font-weight: 300; }
  form :-moz-placeholder {
    /* Firefox 18- */
    color: #2e2e2e;
    opacity: 0.35;
    font-size: 16px;
    font-weight: 300; }
  @media screen and (max-width: 767px) {
    form ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-size: 13px; }
    form ::-moz-placeholder {
      /* Firefox 19+ */
      font-size: 13px; }
    form :-ms-input-placeholder {
      /* IE 10+ */
      font-size: 13px; }
    form :-moz-placeholder {
      /* Firefox 18- */
      font-size: 13px; } }
  form .not-validate input {
    border: 1px solid #e32727;
    opacity: 1; }
  form .error-mg {
    color: #e32727;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 3px 0;
    display: block; }
  form .checkbox-input {
    position: relative;
    padding-left: 2.5em; }
    form .checkbox-input input {
      display: none; }
    form .checkbox-input input:checked ~ span:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      display: block;
      background: url(../images/check-color.svg) no-repeat center/12px 8px; }
    form .checkbox-input:before {
      content: "";
      width: 18px;
      height: 18px;
      display: block;
      border-radius: 2px;
      border: 1px solid rgba(185, 189, 196, 0.3);
      background-color: #ffffff;
      position: absolute;
      top: 0;
      left: 0; }

.contact-form textarea {
  resize: none; }
.contact-form select {
  padding: 16px 20px 16px 24px;
  border-radius: 2px;
  border: 1px solid #b9bdc4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(../images/select-arrow.svg) no-repeat center right 15px; }
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="password"],
.contact-form input[type="search"],
.contact-form input[type="tel"],
.contact-form textarea {
  font-size: 16px;
  font-weight: 300;
  font-family: "objektiv-mk1";
  height: 52px; }

.contact-form input[type="text"]:placeholder-shown {
  border: 1px solid rgba(185, 189, 196, 0.3);
  opacity: 1; }
.contact-form input[type="text"]:focus {
  border: 1px solid #2e2e2e; }
.contact-form input[type="email"]:placeholder-shown {
  border: 1px solid rgba(185, 189, 196, 0.3);
  opacity: 1; }
.contact-form input[type="email"]:focus {
  border: 1px solid #2e2e2e; }
.contact-form input[type="password"]:placeholder-shown {
  border: 1px solid rgba(185, 189, 196, 0.3);
  opacity: 1; }
.contact-form input[type="password"]:focus {
  border: 1px solid #2e2e2e; }
.contact-form input[type="search"]:placeholder-shown {
  border: 1px solid rgba(185, 189, 196, 0.3);
  opacity: 1; }
.contact-form input[type="search"]:focus {
  border: 1px solid #2e2e2e; }
.contact-form input[type="tel"]:placeholder-shown {
  border: 1px solid rgba(185, 189, 196, 0.3);
  opacity: 1; }
.contact-form input[type="tel"]:focus {
  border: 1px solid #2e2e2e; }
.contact-form textarea {
  border: 1px solid rgba(185, 189, 196, 0.3);
  opacity: 1; }
  .contact-form textarea:focus {
    border: 1px solid #2e2e2e; }

.contact-wrap .contact-form {
  position: relative;
  overflow: visible; }
  .contact-wrap .contact-form:after {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 130%;
    height: 66%;
    z-index: -9;
    background: url(../images/bg-shadow.png) no-repeat center/cover; }

body {
  -webkit-font-smoothing: auto;
  font-size: 16px;
  color: #252937;
  font-family: "objektiv-mk1";
  line-height: 1.4;
  font-style: normal;
  font-stretch: normal; }

h1, h2, h3 {
  color: #252937;
  font-family: "objektiv-mk1"; }

h1, .h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 65px;
  margin-bottom: 22px; }

h2, .h2 {
  font-size: 40px;
  line-height: 55px;
  font-weight: 700;
  margin-bottom: 25px; }

h3 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700; }

h4 {
  line-height: 29px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px; }

h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 15px; }

h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px; }

p {
  font-size: 16px;
  color: #252937;
  font-family: "objektiv-mk1";
  line-height: 26px;
  font-style: normal;
  margin-bottom: 22px;
  font-weight: 300; }

ul {
  list-style: disc;
  padding-left: 1.4em;
  margin-bottom: 22px; }

ul.styled, .global-content ul.styled {
  list-style: none; }
  ul.styled li, .global-content ul.styled li {
    font-size: 15px;
    position: relative;
    font-weight: 500;
    line-height: 26px;
    padding-bottom: 6px; }
    @media screen and (max-width: 767px) {
      ul.styled li, .global-content ul.styled li {
        font-size: 14px;
        line-heaight: 22px; } }
    ul.styled li:before, .global-content ul.styled li:before {
      content: "";
      position: absolute;
      left: -1.35em;
      top: 10px;
      height: 7px;
      width: 10px;
      background: url(../images/check.svg) no-repeat center/10px 7px; }
  ul.styled.colored-li li:before, .global-content ul.styled.colored-li li:before {
    background: url(../images/check-color.svg) no-repeat center/10px 7px; }

ul.styled-warning, .global-content ul.styled-warning {
  list-style: none; }
  ul.styled-warning li, .global-content ul.styled-warning li {
    font-size: 16px;
    position: relative;
    font-weight: 500;
    line-height: 26px;
    padding-bottom: 6px;
    padding-left: 1em; }
    @media screen and (max-width: 767px) {
      ul.styled-warning li, .global-content ul.styled-warning li {
        font-size: 14px;
        line-heaight: 22px; } }
    ul.styled-warning li:before, .global-content ul.styled-warning li:before {
      content: "";
      position: absolute;
      left: -1.3em;
      top: 4px;
      height: 20px;
      width: 20px;
      background: url(../images/cancle.svg) no-repeat center/20px; }
      @media screen and (max-width: 767px) {
        ul.styled-warning li:before, .global-content ul.styled-warning li:before {
          height: 15px;
          width: 15px;
          top: 6px;
          background: url(../images/cancle.svg) no-repeat center/15px; } }

a {
  color: #252937; }

strong, b {
  font-weight: 700; }

em, i {
  font-style: italic; }

blockquote p, cite {
  font-size: 16px;
  color: #252937;
  font-family: "objektiv-mk1"; }

blockquote {
  padding-left: 30px;
  padding-bottom: 10px;
  border-left: 5px solid #ffd92c; }

blockquote p {
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
  font-style: normal; }
  @media screen and (max-width: 991px) {
    blockquote p {
      font-size: 22px;
      font-weight: 500;
      line-height: 32px; } }
  @media screen and (max-width: 767px) {
    blockquote p {
      font-size: 22px;
      line-height: 28px; } }
  @media screen and (max-width: 480px) {
    blockquote p {
      font-size: 16px;
      line-height: 24px; } }

img {
  border: 0px;
  max-width: 100%;
  height: auto; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
  max-width: 100%; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

iframe, video {
  max-width: 100%;
  height: auto; }

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 18px; }

td, th {
  font-size: 16px;
  color: #252937;
  font-family: "objektiv-mk1";
  font-weight: 400;
  line-height: 26px;
  border: 1px solid #6a737f;
  padding: 12px; }

th {
  font-weight: 700; }

@media screen and (max-width: 991px) {
  h1, .h1 {
    font-size: 44px;
    line-height: 48px; }

  h2, .h2 {
    font-size: 37px;
    line-height: 48px; }

  h3 {
    font-size: 34px; } }
@media screen and (max-width: 767px) {
  body {
    font-size: 15px; }

  h1, .h1 {
    font-size: 35px;
    line-height: 45px; }

  h2, .h2 {
    font-size: 30px;
    line-height: 38px; }

  h3 {
    font-size: 22px;
    line-height: 30px; }

  h4 {
    font-size: 19px; }

  p {
    font-size: 15px;
    line-height: 22px; } }
@media screen and (max-width: 480px) {
  body {
    font-size: 13px; }

  h1, .h1, h2, .h2 {
    font-size: 22px;
    line-height: 30px; }

  h3 {
    font-size: 20px;
    line-height: 28px; }

  h4 {
    font-size: 17px; }

  h5 {
    font-size: 16px; }

  p {
    font-size: 13px;
    line-height: 18px; } }
#header-part {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  position: relative;
  z-index: 99999; }
  @media screen and (min-width: 992px) {
    #header-part {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; } }
  #header-part .container {
    max-width: 1230px; }
    #header-part .container .mb-bar {
      padding: 20px 0; }
      @media screen and (min-width: 992px) {
        #header-part .container .mb-bar {
          float: left;
          width: 50%;
          max-width: 450px; } }
      #header-part .container .mb-bar:not(.nav-brand) {
        float: left;
        width: 50%; }
      #header-part .container .mb-bar .logo-bar {
        float: left; }
      #header-part .container .mb-bar .mail-phone {
        float: right;
        padding-left: 7%; }
        #header-part .container .mb-bar .mail-phone a {
          color: #252937;
          font-weight: 500;
          padding: 7px 20px;
          border-radius: 19px;
          display: inline-block;
          font-size: 12px;
          text-decoration: none; }
        #header-part .container .mb-bar .mail-phone .mail-id {
          font-size: 13px;
          background-color: #f1f2f3; }
        @media screen and (max-width: 991px) {
          #header-part .container .mb-bar .mail-phone {
            display: none; } }
    @media screen and (min-width: 992px) {
      #header-part .container .nav-bar {
        float: right;
        max-width: 50%; } }
    @media screen and (max-width: 991px) {
      #header-part .container .nav-bar.nav-bar-menu {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        background: #fff;
        padding: 25px 30px 40px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
        display: none; } }
    #header-part .container .nav-bar ul.menu {
      list-style: none;
      margin: 0;
      padding: 0; }
      @media screen and (min-width: 992px) {
        #header-part .container .nav-bar ul.menu {
          text-align: right; } }
      #header-part .container .nav-bar ul.menu > li {
        position: relative; }
        @media screen and (min-width: 992px) {
          #header-part .container .nav-bar ul.menu > li {
            display: inline-block;
            padding: 24px 10px; } }
        #header-part .container .nav-bar ul.menu > li a {
          color: #252937;
          font-size: 13px;
          font-weight: 500;
          display: block;
          text-decoration: none;
          padding: 0 2px;
          position: relative; }
          @media screen and (min-width: 992px) {
            #header-part .container .nav-bar ul.menu > li a:after {
              content: "";
              width: 100%;
              height: 2px;
              background-color: transparent;
              left: 0;
              bottom: -4px;
              position: absolute;
              opacity: 0.5; }
            #header-part .container .nav-bar ul.menu > li a:hover:after {
              background-color: #252937; } }
          @media screen and (max-width: 991px) {
            #header-part .container .nav-bar ul.menu > li a {
              font-size: 16px;
              font-weight: 500;
              display: block;
              margin-bottom: 15px; } }
        @media screen and (min-width: 992px) {
          #header-part .container .nav-bar ul.menu > li ul.submenu {
            display: none;
            position: absolute;
            background-color: #ffffff;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
            border-radius: 4px 4px;
            text-align: left;
            top: 100%;
            left: 40px;
            padding: 18px 29px;
            transform: translateX(-50%);
            min-width: 238px; }
            #header-part .container .nav-bar ul.menu > li ul.submenu li {
              display: block; }
              #header-part .container .nav-bar ul.menu > li ul.submenu li a {
                display: inline-block;
                margin-bottom: 15px; } }
        @media screen and (max-width: 991px) {
          #header-part .container .nav-bar ul.menu > li ul.submenu {
            padding: 0;
            margin: 0;
            list-style: none; }
            #header-part .container .nav-bar ul.menu > li ul.submenu a {
              opacity: 0.6;
              font-size: 14px;
              font-weight: 500;
              line-height: 16px;
              margin-bottom: 15px; } }
        @media screen and (min-width: 992px) {
          #header-part .container .nav-bar ul.menu > li:hover ul.submenu {
            display: block; } }
      #header-part .container .nav-bar ul.menu li.current > a:after {
        background-color: #252937; }
      #header-part .container .nav-bar ul.menu .mega-submenu ul {
        list-style: none;
        margin: 0;
        padding: 0; }
      @media screen and (min-width: 992px) {
        #header-part .container .nav-bar ul.menu .mega-submenu {
          display: none;
          position: absolute;
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          background-color: #ffffff;
          text-align: center;
          top: 100%;
          left: 0;
          transform: translateX(-50%); }
          #header-part .container .nav-bar ul.menu .mega-submenu ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            padding: 0;
            min-width: 696px; }
            #header-part .container .nav-bar ul.menu .mega-submenu ul li {
              min-height: 100%;
              padding: 40px 30px; }
              #header-part .container .nav-bar ul.menu .mega-submenu ul li:first-child {
                background: #fff; }
              #header-part .container .nav-bar ul.menu .mega-submenu ul li:last-child {
                background: #252937; }
                #header-part .container .nav-bar ul.menu .mega-submenu ul li:last-child .title {
                  color: #fff; }
              #header-part .container .nav-bar ul.menu .mega-submenu ul li .title {
                display: flex;
                font-size: 30px;
                font-weight: 700;
                line-height: 45px;
                margin-bottom: 20px;
                min-height: 90px;
                align-items: center;
                justify-content: center; }
              #header-part .container .nav-bar ul.menu .mega-submenu ul li span.arrow {
                display: inline-block;
                margin-bottom: 30px; }
              #header-part .container .nav-bar ul.menu .mega-submenu ul li a {
                display: block;
                text-decoration: none; }
                #header-part .container .nav-bar ul.menu .mega-submenu ul li a:after {
                  display: none; } }
      @media screen and (max-width: 991px) {
        #header-part .container .nav-bar ul.menu .mega-submenu img, #header-part .container .nav-bar ul.menu .mega-submenu span.arrow {
          display: none; }
        #header-part .container .nav-bar ul.menu .mega-submenu a {
          opacity: 0.6;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          margin-bottom: 15px; } }
      #header-part .container .nav-bar ul.menu:hover .mega-submenu {
        display: block; }
    #header-part .container .nav-bar a.button {
      padding: 10px;
      color: #000000;
      font-size: 14px;
      font-weight: 700;
      margin: 20px 0;
      float: right; }
    @media screen and (min-width: 992px) {
      #header-part .container .nav-bar .mobile-menu {
        display: none; } }
    @media screen and (max-width: 991px) {
      #header-part .container .nav-bar .mobile-menu {
        padding: 0;
        margin: 0;
        padding-top: 100px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        #header-part .container .nav-bar .mobile-menu a {
          opacity: 0.3;
          font-size: 13px;
          font-weight: 500;
          display: dlock;
          margin-bottom: 10px;
          text-decoration: none; } }

#nav-toggle {
  float: right; }
  @media screen and (min-width: 992px) {
    #nav-toggle {
      display: none; } }

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #252937;
  position: absolute;
  display: block;
  content: ''; }

#nav-toggle span:before {
  top: -10px; }

#nav-toggle span:after {
  bottom: -10px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out; }

#nav-toggle.active span {
  background-color: transparent; }

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0; }

#nav-toggle.active span:before {
  transform: rotate(45deg); }

#nav-toggle.active span:after {
  transform: rotate(-45deg); }

#footer-part {
  position: relative; }
  @media screen and (min-width: 768px) {
    #footer-part {
      background: url(../images/footer.png) no-repeat center/cover; }
      #footer-part:after {
        content: "";
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/footerMask.svg) no-repeat center bottom/cover; } }
  #footer-part .container {
    position: relative;
    z-index: 2; }
  #footer-part .row {
    padding: 126px 0 30px; }
    @media screen and (max-width: 767px) {
      #footer-part .row {
        padding: 46px 0 30px; } }
    #footer-part .row .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 992px;
      margin: 0 auto 0px; }
      @media screen and (max-width: 767px) {
        #footer-part .row .container {
          justify-content: center;
          flex-direction: column; } }
      @media screen and (min-width: 768px) {
        #footer-part .row .container h2, #footer-part .row .container p, #footer-part .row .container .name-t {
          color: #fff; } }
      #footer-part .row .container .left-panel {
        width: 419px;
        max-width: 50%;
        padding-right: 20px; }
        @media screen and (max-width: 767px) {
          #footer-part .row .container .left-panel {
            max-width: 100%;
            width: 100%;
            padding-right: 0px; } }
        #footer-part .row .container .left-panel .name-t {
          margin-bottom: 14px; }
        #footer-part .row .container .left-panel p {
          font-weight: 400;
          line-height: 26px; }
      #footer-part .row .container .right-panel {
        width: 390px;
        max-width: 50%; }
        @media screen and (max-width: 767px) {
          #footer-part .row .container .right-panel {
            max-width: 100%;
            width: 100%; } }
        #footer-part .row .container .right-panel p {
          text-align: center;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px; }
  @media screen and (min-width: 768px) {
    #footer-part .bottom-footer.border-top ul {
      border-top: 1px solid #2f3445; } }
  @media screen and (max-width: 767px) {
    #footer-part .bottom-footer {
      background: #252937; } }
  #footer-part .bottom-footer ul {
    list-style: none;
    padding: 0;
    padding: 34px 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 767px) {
      #footer-part .bottom-footer ul {
        flex-direction: column; } }
    #footer-part .bottom-footer ul li {
      padding: 0 15px; }
      #footer-part .bottom-footer ul li a {
        display: block;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.3);
        font-size: 12px;
        font-weight: 500; }
        @media screen and (max-width: 767px) {
          #footer-part .bottom-footer ul li a {
            margin-bottom: 10px; } }
      @media screen and (max-width: 767px) {
        #footer-part .bottom-footer ul li {
          order: 2; }
          #footer-part .bottom-footer ul li.logo-d {
            order: 1; } }

#footer-part.footer-only {
  background: #252937; }
  #footer-part.footer-only:after {
    content: "";
    display: none; }

html, body {
  height: 100%; }

#layout {
  min-height: 100%;
  height: 100%; }

.site-content {
  min-height: 100%;
  padding-bottom: 125px; }

#footer-part.footer-only {
  position: relative;
  margin-top: -125px; }

@media screen and (min-width: 992px) {
  .site-content {
    padding-top: 70px; } }
.banner-wrap {
  position: relative;
  padding-top: 21.75%;
  overflow: hidden; }
  .banner-wrap .banner-bar {
    min-height: 817px;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute; }
    @media screen and (max-width: 1200px) {
      .banner-wrap .banner-bar {
        min-height: 660px; } }
    @media screen and (max-width: 1024px) {
      .banner-wrap .banner-bar {
        min-height: 620px; } }
    @media screen and (max-width: 991px) {
      .banner-wrap .banner-bar {
        min-height: 540px; } }
    @media screen and (max-width: 767px) {
      .banner-wrap .banner-bar {
        min-height: 480px; } }
    @media screen and (max-width: 480px) {
      .banner-wrap .banner-bar {
        min-height: 320px; } }
    .banner-wrap .banner-bar.mask {
      mask-image: url(../images/mask1.svg);
      -webkit-mask-image: url(../images/mask-home.svg);
      mask-mode: alpha;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-size: 100% 100%;
      -webkit-mask-size: 100% 100%; }
  .banner-wrap .text-caption {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    max-width: 100%;
    width: 895px;
    margin: 0 auto;
    padding: 65px 8%;
    text-align: center;
    position: relative;
    z-index: 2; }
    @media screen and (max-width: 480px) {
      .banner-wrap .text-caption {
        padding: 35px 20px; } }
    .banner-wrap .text-caption span.name-t {
      color: #92949b;
      text-align: center;
      margin-bottom: 28px; }
    .banner-wrap .text-caption .h2 {
      margin-bottom: 32px; }
    @media screen and (min-width: 768px) {
      .banner-wrap .text-caption p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 39px; } }

.banner-wrap.inner-banner {
  padding-top: 31.5%; }
  .banner-wrap.inner-banner .banner-bar {
    min-height: 770px; }
    @media screen and (max-width: 1200px) {
      .banner-wrap.inner-banner .banner-bar {
        min-height: 700px; } }
    @media screen and (max-width: 1024px) {
      .banner-wrap.inner-banner .banner-bar {
        min-height: 620px; } }
    @media screen and (max-width: 991px) {
      .banner-wrap.inner-banner .banner-bar {
        min-height: 580px; } }
    @media screen and (max-width: 767px) {
      .banner-wrap.inner-banner .banner-bar {
        min-height: 460px; } }
    @media screen and (max-width: 480px) {
      .banner-wrap.inner-banner .banner-bar {
        min-height: 320px; } }

@media screen and (max-width: 767px) {
  .logos-wrap {
    padding: 30px 0 !important; } }
.logos-wrap span.name-t {
  color: #92949b;
  text-align: center;
  margin-bottom: 42px; }
  @media screen and (max-width: 991px) {
    .logos-wrap span.name-t {
      margin-bottom: 32px; } }
.logos-wrap ul {
  list-style: none;
  margin: 0 auto;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .logos-wrap ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      max-width: 980px; }
      .logos-wrap ul li {
        flex: 0 0 25%;
        padding: 0 20px 60px;
        text-align: center; } }
  @media screen and (max-width: 767px) {
    .logos-wrap ul li a {
      padding: 0px 20px;
      display: flex !important;
      justify-content: center;
      align-items: center;
      min-height: 64px; } }

span.name-t {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block; }

.section-header {
  max-width: 592px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .section-header {
      text-align: center; } }
  .section-header a.button {
    margin-top: 20px; }

.col-3 {
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .col-3 {
      float: left;
      width: 33.3%;
      padding: 0 20px; } }

@media screen and (min-width: 768px) {
  .features-wrap {
    text-align: center; } }
.features-wrap .section-header {
  padding: 60px 0 50px; }
  @media screen and (max-width: 991px) {
    .features-wrap .section-header {
      padding: 0px 0 30px; } }
  @media screen and (max-width: 767px) {
    .features-wrap .section-header {
      padding: 0px 0 10px; } }
@media screen and (min-width: 768px) {
  .features-wrap .features-list {
    padding-bottom: 20px; } }
.features-wrap .features-list .feature-col h4 {
  margin-bottom: 10px; }
  @media screen and (max-width: 767px) {
    .features-wrap .features-list .feature-col h4 {
      display: inline-block;
      vertical-align: middle; } }
.features-wrap .features-list .feature-col img {
  display: inline-block;
  margin-bottom: 22px; }
  @media screen and (max-width: 767px) {
    .features-wrap .features-list .feature-col img {
      vertical-align: middle;
      margin-right: 15px;
      margin-bottom: 10px; } }

.features-wrap1 .section-header {
  padding: 24px 0 128px; }
  @media screen and (max-width: 991px) {
    .features-wrap1 .section-header {
      padding: 20px 0 60px; } }
  @media screen and (max-width: 767px) {
    .features-wrap1 .section-header {
      padding: 20px 0 30px; } }

.two-half-wrap .container {
  max-width: 1134px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .two-half-wrap .container {
      flex-direction: column; } }
  @media screen and (min-width: 768px) {
    .two-half-wrap .container .col1 {
      width: 46%; } }
  @media screen and (max-width: 767px) {
    .two-half-wrap .container .col1 {
      order: 2; } }
  .two-half-wrap .container .col1 span.name-t {
    color: #92949b;
    margin-bottom: 16px; }
  .two-half-wrap .container .col1 p {
    margin-bottom: 22px; }
  .two-half-wrap .container .col1 ul.styled {
    margin-bottom: 45px; }
  @media screen and (min-width: 768px) {
    .two-half-wrap .container .col2 {
      width: 50%;
      padding-top: 30px; } }
  @media screen and (max-width: 767px) {
    .two-half-wrap .container .col2 {
      padding: 24px 22px;
      background-color: #f2f2f2;
      margin-bottom: 30px;
      width: calc(100% + 44px);
      text-align: center;
      margin: 0 -22px 30px;
      order: 1; } }
  .two-half-wrap .container .fig {
    display: inline-block; }
    .two-half-wrap .container .fig img {
      border-radius: 5px;
      display: block; }
  .two-half-wrap .container .figure figure {
    position: relative;
    display: inline-block;
    border: solid 15px #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    background: #ffffff; }
    .two-half-wrap .container .figure figure img {
      border-radius: 5px;
      display: block; }
  .two-half-wrap .container .figure.bk-shdw-left:after {
    content: "";
    position: absolute;
    top: 0%;
    left: -20%;
    width: 120%;
    height: 126%;
    background: url(../images/mask-Copy-left.png) no-repeat center/cover;
    z-index: -9; }
  .two-half-wrap .container .figure.bk-shdw-right:after {
    content: "";
    position: absolute;
    top: 0%;
    right: -20%;
    width: 120%;
    height: 126%;
    background: url(../images/mask-Copy-right.png) no-repeat center/cover;
    z-index: -9; }
.two-half-wrap.turn-lft .fig {
  transform: rotate(-2deg); }
.two-half-wrap.turn-rght .fig {
  transform: rotate(2deg); }

.two-half-wrap.pos-right .col1 {
  order: 2; }
  @media screen and (min-width: 768px) {
    .two-half-wrap.pos-right .col1 {
      text-align: right; } }
.two-half-wrap.pos-right .col2 {
  order: 1; }

.two-half-wrap.small-design .container {
  max-width: 925px; }

.blog-sec-wrap .container {
  max-width: 1028px; }
  .blog-sec-wrap .container .text-wrap {
    text-align: center;
    padding: 0px 0 45px; }
  @media screen and (min-width: 768px) {
    .blog-sec-wrap .container .blogs-list {
      padding-bottom: 20px; } }
  .blog-sec-wrap .container .blogs-list .blog-col {
    margin-bottom: 30px; }
    @media screen and (min-width: 768px) {
      .blog-sec-wrap .container .blogs-list .blog-col {
        float: left;
        width: calc(33.3% - 23px);
        margin-right: 34px;
        margin-bottom: 60px; } }
    @media screen and (max-width: 991px) and (min-width: 768px) {
      .blog-sec-wrap .container .blogs-list .blog-col {
        margin-bottom: 40px;
        margin-right: 30px; } }
    .blog-sec-wrap .container .blogs-list .blog-col:nth-child(3n) {
      margin-right: 0; }
    .blog-sec-wrap .container .blogs-list .blog-col a {
      text-decoration: none;
      display: block; }
    .blog-sec-wrap .container .blogs-list .blog-col img {
      display: block;
      margin-bottom: 10px;
      width: 100%; }
    .blog-sec-wrap .container .blogs-list .blog-col span.date {
      color: #92949b;
      font-size: 11px;
      font-weight: 500;
      line-height: 26px;
      display: block;
      margin-bottom: 6px; }
    .blog-sec-wrap .container .blogs-list .blog-col:nth-child(3n+1) {
      clear: both; }

.blog-page.blog-sec-wrap {
  padding: 85px 0 109px; }
  @media screen and (max-width: 991px) {
    .blog-page.blog-sec-wrap {
      padding: 60px 0 70px; } }
  .blog-page.blog-sec-wrap .text-wrap {
    padding: 0px 0 68px; }
    @media screen and (max-width: 991px) {
      .blog-page.blog-sec-wrap .text-wrap {
        padding-bottom: 44px; } }

.pages-banner-wrap {
  position: relative;
  padding-bottom: 50px; }
  @media screen and (min-width: 768px) {
    .pages-banner-wrap {
      display: flex;
      align-items: center;
      min-height: 875px;
      padding: 100px 0; } }
  @media screen and (min-width: 1200px) and (max-width: 1599px) {
    .pages-banner-wrap {
      min-height: 675px; } }
  @media screen and (max-width: 1199px) {
    .pages-banner-wrap {
      min-height: 575px; } }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    .pages-banner-wrap {
      min-height: 505px;
      margin-top: -2px;
      padding: 90px 0; } }
  @media screen and (max-width: 767px) {
    .pages-banner-wrap {
      min-height: 0; } }
  .pages-banner-wrap .pages-banner-wrap-inner {
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%; }
    @media screen and (min-width: 768px) {
      .pages-banner-wrap .pages-banner-wrap-inner:after {
        content: "";
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        top: 1px;
        left: 0; } }
  @media screen and (min-width: 768px) and (min-width: 1600px) {
    .pages-banner-wrap .pages-banner-wrap-inner:after {
      background: url(../images/MaskWhite.svg) no-repeat left bottom/100%; } }
  @media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1599px) {
    .pages-banner-wrap .pages-banner-wrap-inner:after {
      background: url(../images/MaskWhite.svg) no-repeat left bottom/cover; } }

    @media screen and (max-width: 767px) {
      .pages-banner-wrap .pages-banner-wrap-inner {
        position: relative;
        height: 400px;
        margin-bottom: 40px;
        clip-path: ellipse(90% 95% at 30% 4%);
        background-position: center bottom; } }
    @media screen and (max-width: 480px) {
      .pages-banner-wrap .pages-banner-wrap-inner {
        height: 300px;
        clip-path: ellipse(90% 90% at 40% 5%); } }
  .pages-banner-wrap .container {
    position: relative;
    z-index: 999; }
    .pages-banner-wrap .container .text-wrap {
      max-width: 542px; }
      @media screen and (max-width: 991px) and (min-width: 768px) {
        .pages-banner-wrap .container .text-wrap {
          width: 50%; } }
      .pages-banner-wrap .container .text-wrap .h2 {
        margin-bottom: 40px; }

.about-wrap {
  padding: 80px 0 30px; }
  @media screen and (max-width: 991px) {
    .about-wrap {
      padding: 60px 0 30px; } }
  .about-wrap .section-header {
    padding-bottom: 60px; }
  @media screen and (min-width: 768px) {
    .about-wrap .about-design {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between; } }
  @media screen and (max-width: 991px) {
    .about-wrap .about-design {
      padding: 30px 0 52px; } }
  @media screen and (min-width: 992px) {
    .about-wrap .about-design {
      padding: 42px 5% 104px; } }
  @media screen and (max-width: 767px) {
    .about-wrap .about-design {
      padding: 30px 22px 10px;
      background-color: #f1f2f3;
      margin: 0 -22px 40px; } }
  .about-wrap .about-design .left-design {
    width: 66%; }
    @media screen and (max-width: 991px) {
      .about-wrap .about-design .left-design {
        width: 55%; } }
    @media screen and (max-width: 767px) {
      .about-wrap .about-design .left-design {
        display: none; } }
    .about-wrap .about-design .left-design ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      position: relative; }
      .about-wrap .about-design .left-design ul:after {
        content: "";
        width: 100%;
        position: absolute;
        left: 13%;
        top: 50%;
        height: 1px;
        background-color: #b9bdc4; }
      .about-wrap .about-design .left-design ul li {
        position: relative;
        z-index: 1; }
        @media screen and (max-width: 991px) {
          .about-wrap .about-design .left-design ul li {
            max-width: 110px; } }
        .about-wrap .about-design .left-design ul li figure {
          padding: 10px 20px;
          background: #fff; }
        .about-wrap .about-design .left-design ul li:last-child:before, .about-wrap .about-design .left-design ul li:last-child:after {
          content: "";
          width: 100px;
          position: absolute;
          left: 100%;
          height: 1px;
          background-color: #b9bdc4;
          transform-origin: 0 0; }
        .about-wrap .about-design .left-design ul li:last-child:before {
          top: 60%;
          transform: rotate(45deg); }
        .about-wrap .about-design .left-design ul li:last-child:after {
          top: 40%;
          transform: rotate(-45deg); }
  .about-wrap .about-design .right-design {
    width: 34%;
    padding-left: 8%; }
    @media screen and (max-width: 991px) {
      .about-wrap .about-design .right-design {
        width: 42%;
        padding-left: 2%; } }
    @media screen and (max-width: 767px) {
      .about-wrap .about-design .right-design {
        width: 100%;
        padding: 0; } }
    .about-wrap .about-design .right-design ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .about-wrap .about-design .right-design ul li {
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .about-wrap .about-design .right-design ul li .img-w {
          width: 78px; }
          .about-wrap .about-design .right-design ul li .img-w img {
            max-width: 53px; }
        .about-wrap .about-design .right-design ul li .con-w {
          width: calc(100% - 78px); }
          .about-wrap .about-design .right-design ul li .con-w h4 {
            margin-bottom: 6px; }
  .about-wrap .about-content {
    max-width: 692px;
    margin: 0 auto; }
    .about-wrap .about-content h5 {
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      margin-bottom: 20px; }

.slider-wrap {
  padding: 92px 0; }
  @media screen and (max-width: 991px) {
    .slider-wrap {
      padding: 60px 0; } }
  @media screen and (max-width: 991px) {
    .slider-wrap {
      padding: 30px 0; } }
  .slider-wrap .slider1 img {
    width: 100%; }
  .slider-wrap .slider1 .slick-prev, .slider-wrap .slider1 .slick-next {
    top: 50%;
    width: 60px;
    height: 60px;
    background: #ffffff url(../images/arrow.svg) no-repeat center/21px 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    left: 241px;
    z-index: 2;
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 767px) {
      .slider-wrap .slider1 .slick-prev, .slider-wrap .slider1 .slick-next {
        width: 30px;
        height: 30px;
        background: #ffffff url(../images/arrow.svg) no-repeat center/15px; } }
    @media screen and (max-width: 1199px) {
      .slider-wrap .slider1 .slick-prev, .slider-wrap .slider1 .slick-next {
        left: 120px; } }
    @media screen and (max-width: 1023px) {
      .slider-wrap .slider1 .slick-prev, .slider-wrap .slider1 .slick-next {
        left: 100px; } }
    @media screen and (max-width: 991px) {
      .slider-wrap .slider1 .slick-prev, .slider-wrap .slider1 .slick-next {
        left: 51px; } }
    @media screen and (max-width: 767px) {
      .slider-wrap .slider1 .slick-prev, .slider-wrap .slider1 .slick-next {
        left: 20px; } }
  .slider-wrap .slider1 .slick-next {
    right: 241px;
    left: auto;
    transform: translate(50%, -50%) scale(-1); }
    @media screen and (max-width: 1199px) {
      .slider-wrap .slider1 .slick-next {
        right: 120px; } }
    @media screen and (max-width: 1023px) {
      .slider-wrap .slider1 .slick-next {
        right: 100px; } }
    @media screen and (max-width: 991px) {
      .slider-wrap .slider1 .slick-next {
        right: 51px; } }
    @media screen and (max-width: 767px) {
      .slider-wrap .slider1 .slick-next {
        right: 20px; } }
  .slider-wrap .slider1 .slick-prev:before, .slider-wrap .slider1 .slick-next:before {
    content: "";
    display: none; }

.vacatures-wrap {
  padding: 112px 0 93px; }
  @media screen and (max-width: 991px) {
    .vacatures-wrap {
      padding: 72px 0 60px; } }
  @media screen and (max-width: 767px) {
    .vacatures-wrap {
      padding: 42px 0 40px; } }
  .vacatures-wrap .vacatures-list {
    list-style: none;
    margin: 0 auto;
    max-width: 895px;
    padding: 77px 0 52px; }
    @media screen and (max-width: 991px) {
      .vacatures-wrap .vacatures-list {
        padding: 58px 0 42px; } }
    @media screen and (max-width: 767px) {
      .vacatures-wrap .vacatures-list {
        padding: 28px 0 32px;
        margin: 0 -22px;
        width: calc(100% + 44px); } }
    .vacatures-wrap .vacatures-list li a {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      background-color: #ffffff;
      display: block;
      padding: 42px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      margin-bottom: 15px;
      transition: .3s all; }
      @media screen and (max-width: 767px) {
        .vacatures-wrap .vacatures-list li a {
          padding: 24px 22px;
          flex-wrap: wrap;
          justify-content: flex-start; } }
      .vacatures-wrap .vacatures-list li a span.name {
        font-weight: 500;
        flex: 0 0 32%;
        transition: .3s all; }
        @media screen and (max-width: 767px) {
          .vacatures-wrap .vacatures-list li a span.name {
            flex: 0 0 90%;
            order: 1; } }
      .vacatures-wrap .vacatures-list li a span.vtype, .vacatures-wrap .vacatures-list li a span.loc {
        opacity: 0.2;
        font-weight: 400;
        transition: .3s all; }
        @media screen and (max-width: 767px) {
          .vacatures-wrap .vacatures-list li a span.vtype, .vacatures-wrap .vacatures-list li a span.loc {
            opacity: 1;
            order: 3;
            width: auto;
            margin-top: 15px;
            padding-right: 25px; } }
      .vacatures-wrap .vacatures-list li a span.loc {
        position: relative; }
        .vacatures-wrap .vacatures-list li a span.loc:after {
          position: absolute;
          content: "";
          width: 1px;
          height: 20px;
          top: 1px;
          left: -70%;
          background: #f2f2f2; }
      .vacatures-wrap .vacatures-list li a .icon-next-arrow {
        color: #ffc800;
        transition: .3s all; }
        @media screen and (max-width: 767px) {
          .vacatures-wrap .vacatures-list li a .icon-next-arrow {
            order: 2;
            flex: 0 0 10%; } }
      .vacatures-wrap .vacatures-list li a:hover {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.15); }
        .vacatures-wrap .vacatures-list li a:hover span.name {
          color: #ffc800; }
        .vacatures-wrap .vacatures-list li a:hover span.vtype, .vacatures-wrap .vacatures-list li a:hover span.loc {
          opacity: 1; }
        .vacatures-wrap .vacatures-list li a:hover .icon-next-arrow:before {
          content: "\e907"; }

.team-wrap {
  padding: 110px 0 125px;
  position: relative;
  overflow: hidden;
  background-color: #252937;
  margin: 38px 0;
  color: #fff; }
  @media screen and (max-width: 991px) {
    .team-wrap {
      padding: 70px 0 85px; } }
  @media screen and (max-width: 767px) {
    .team-wrap {
      padding: 50px 0 55px; } }
  .team-wrap:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: -15%;
    left: -20%;
    transform: translate(0, 0) rotate(-25deg);
    background: url(../images/circle-mask2.svg) no-repeat center top; }
  .team-wrap:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 66%;
    left: 12%;
    transform: translate(0, 0);
    background: url(../images/circle-mask21.svg) no-repeat center top; }
  .team-wrap h2, .team-wrap p {
    color: #fff; }
  .team-wrap .section-header {
    padding: 56px 0 50px; }
    @media screen and (max-width: 991px) {
      .team-wrap .section-header {
        padding: 36px 0 30px; } }
  .team-wrap .teams-member ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center; }
    .team-wrap .teams-member ul li {
      padding: 0 25px 45px; }
      .team-wrap .teams-member ul li figure {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 180px;
        overflow: hidden;
        margin: 0 auto 30px; }
      .team-wrap .teams-member ul li strong.name {
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        line-height: 26px;
        display: block;
        margin-bottom: 5px; }
      .team-wrap .teams-member ul li .degination {
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        line-height: 26px;
        display: block; }

.single-vacatures-wrap {
  padding: 110px 0 0px; }
  @media screen and (max-width: 991px) {
    .single-vacatures-wrap {
      padding: 80px 0 40px; } }
  .single-vacatures-wrap .section-header {
    text-align: center; }
  .single-vacatures-wrap .meta-data {
    margin-bottom: 28px; }
    .single-vacatures-wrap .meta-data > span {
      display: inline-block;
      padding: 0 20px;
      font-size: 16px;
      font-weight: 400;
      position: relative; }
      .single-vacatures-wrap .meta-data > span:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 20px;
        top: 1px;
        right: -2px;
        background: #f2f2f2; }
      .single-vacatures-wrap .meta-data > span:last-child:after {
        display: none; }

.content-wrap {
  padding: 25px 0 28px; }
  .content-wrap .container {
    max-width: 722px; }

.vacatures-form-wrap {
  padding: 90px 0;
  position: relative; }
  @media screen and (min-width: 768px) {
    .vacatures-form-wrap {
      background: url(../images/footer.png) no-repeat center/cover; } }
  @media screen and (max-width: 991px) {
    .vacatures-form-wrap {
      padding: 60px 0 20px; }
      .vacatures-form-wrap .btm-fset1 .form-control {
        margin: 0; } }
  @media screen and (min-width: 768px) {
    .vacatures-form-wrap:after {
      content: "";
      height: 100%;
      width: 100%;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      background: url(../images/footerMask.svg) no-repeat center/cover; } }
  .vacatures-form-wrap .container {
    max-width: 925px; }
  @media screen and (min-width: 768px) {
    .vacatures-form-wrap .right-panel {
      position: relative;
      z-index: 2; }
      .vacatures-form-wrap .right-panel > p {
        color: #fff;
        max-width: 580px;
        margin: 10px auto;
        text-align: center; } }

.contact-wrap {
  padding: 80px 0; }
  @media screen and (max-width: 991px) {
    .contact-wrap {
      padding: 60px 0; } }
  @media screen and (max-width: 767px) {
    .contact-wrap {
      padding: 30px 0; } }
  @media screen and (min-width: 768px) {
    .contact-wrap .row {
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  @media screen and (min-width: 768px) {
    .contact-wrap .row .left-panel {
      width: 349px;
      max-width: 50%; } }
  .contact-wrap .row .left-panel a, .contact-wrap .row .left-panel span, .contact-wrap .row .left-panel address {
    display: block;
    font-weight: 300; }
  .contact-wrap .row .left-panel address {
    margin-bottom: 20px; }
  .contact-wrap .row .left-panel span.kvk {
    font-size: 13px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 40px; }
  .contact-wrap .row .left-panel #map {
    width: 100%;
    min-height: 340px; }
    @media screen and (min-width: 768px) {
      .contact-wrap .row .left-panel #map {
        width: 339px;
        height: 295px; } }
  @media screen and (min-width: 768px) {
    .contact-wrap .row .right-panel {
      width: 493px;
      max-width: 50%; } }
  .contact-wrap .row .right-panel p {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 0 30px; }

.tesimonial-wrap {
  margin: 52px 0;
  padding: 164px 0 140px;
  position: relative;
  overflow: hidden;
  background-color: #252937;
  text-align: center; }
  @media screen and (max-width: 991px) {
    .tesimonial-wrap {
      padding: 100px 0;
      margin: 42px 0; } }
  @media screen and (max-width: 767px) {
    .tesimonial-wrap {
      padding: 50px 0;
      margin: 22px 0; } }
  .tesimonial-wrap:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: -15%;
    left: -20%;
    transform: translate(0, 0) rotate(-25deg);
    background: url(../images/circle-mask2.svg) no-repeat center top; }
  .tesimonial-wrap:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 66%;
    left: 12%;
    transform: translate(0, 0);
    background: url(../images/circle-mask21.svg) no-repeat center top; }
  .tesimonial-wrap .container {
    max-width: 824px; }
  .tesimonial-wrap p {
    font-size: 22px;
    font-weight: 500;
    line-height: 38px;
    color: #fff; }
    @media screen and (max-width: 991px) {
      .tesimonial-wrap p {
        font-size: 20px;
        line-height: 34px; } }
    @media screen and (max-width: 767px) {
      .tesimonial-wrap p {
        font-size: 16px;
        line-height: 28px; } }
    @media screen and (max-width: 480px) {
      .tesimonial-wrap p {
        font-size: 14px;
        line-height: 20px; } }
  .tesimonial-wrap span {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px; }
    @media screen and (max-width: 767px) {
      .tesimonial-wrap span {
        font-size: 13px;
        line-height: 20px; } }
  .tesimonial-wrap .testimonial-slider {
    padding-top: 40px; }
    .tesimonial-wrap .testimonial-slider .slick-prev, .tesimonial-wrap .testimonial-slider .slick-next {
      top: -20px;
      width: 30px;
      height: 30px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
      right: 47%;
      z-index: 2;
      left: auto;
      transform: translate(50%, -50%);
      background: url(../images/arrow-white.svg) no-repeat center/21px 15px; }
      @media screen and (max-width: 767px) {
        .tesimonial-wrap .testimonial-slider .slick-prev, .tesimonial-wrap .testimonial-slider .slick-next {
          top: 0px;
          right: 45%; } }
    .tesimonial-wrap .testimonial-slider .slick-prev {
      left: 47%;
      right: auto;
      transform: translate(-50%, -50%) scale(-1); }
      @media screen and (max-width: 767px) {
        .tesimonial-wrap .testimonial-slider .slick-prev {
          left: 45%; } }
    .tesimonial-wrap .testimonial-slider .slick-prev:before, .tesimonial-wrap .testimonial-slider .slick-next:before {
      content: "";
      display: none; }

.subscribe-wrap {
  padding: 80px 0; }
  @media screen and (max-width: 991px) {
    .subscribe-wrap {
      padding: 60px 0; } }
  @media screen and (max-width: 767px) {
    .subscribe-wrap {
      padding: 40px 0; } }
  .subscribe-wrap .scribe-form {
    margin: 30px 0;
    padding: 0;
    border-radius: 0; }
    @media screen and (min-width: 768px) {
      .subscribe-wrap .scribe-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 53px; } }
    @media screen and (max-width: 767px) {
      .subscribe-wrap .scribe-form {
        box-shadow: none;
        margin-bottom: 0; } }
    .subscribe-wrap .scribe-form label {
      height: 100%;
      width: 65%;
      margin: 0; }
      .subscribe-wrap .scribe-form label input {
        height: 100%;
        border-radius: 2px 0 0 2px;
        border: 1px solid rgba(185, 189, 196, 0.3);
        background-color: #ffffff; }
      @media screen and (max-width: 767px) {
        .subscribe-wrap .scribe-form label {
          width: 100%;
          margin-bottom: 15px; } }
    .subscribe-wrap .scribe-form button {
      width: auto;
      padding: 10px 20px;
      border-radius: 0 2px 2px 0; }
      @media screen and (min-width: 768px) {
        .subscribe-wrap .scribe-form button {
          height: 100%;
          width: 35%; } }

.warning-notes-wrap .container {
  max-width: 1020px; }
.warning-notes-wrap .section-header {
  padding: 40px 0 30px;
  max-width: 792px; }
  @media screen and (max-width: 767px) {
    .warning-notes-wrap .section-header {
      padding: 0px 0 30px; } }
@media screen and (min-width: 768px) {
  .warning-notes-wrap .warning-msgs {
    display: flex;
    align-items: top;
    justify-content: space-between; }
    .warning-notes-wrap .warning-msgs > div {
      max-width: 48%; }
    .warning-notes-wrap .warning-msgs ul.styled-warning li {
      padding-bottom: 24px; } }

.work-housing-wrap .two-half-wrap {
  padding: 46px 0; }
  @media screen and (max-width: 767px) {
    .work-housing-wrap .two-half-wrap {
      padding: 20px 0 30px; } }
  .work-housing-wrap .two-half-wrap.pos-right .col1 {
    order: 2;
    text-align: left; }
  @media screen and (min-width: 768px) {
    .work-housing-wrap .two-half-wrap .col1 {
      width: 44%; } }
  @media screen and (min-width: 768px) {
    .work-housing-wrap .two-half-wrap h3 {
      font-size: 25px;
      font-weight: 700;
      line-height: 35px; } }

@media screen and (min-width: 768px) {
  .form-section-wrap {
    background-color: #f1f3f4; } }
@media screen and (min-width: 768px) {
  .form-section-wrap .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1020px; }
    .form-section-wrap .container > div {
      width: 50%; }
    .form-section-wrap .container .left-panel {
      padding-left: 2%; } }
@media screen and (min-width: 768px) {
  .form-section-wrap .container .right-panel {
    width: 391px; } }
.form-section-wrap .container .right-panel p {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding: 10px 20px; }
.form-section-wrap .container .right-panel input[type="text"], .form-section-wrap .container .right-panel input[type="email"] {
  padding: 18px 20px 18px 24px; }
  @media screen and (max-width: 767px) {
    .form-section-wrap .container .right-panel input[type="text"], .form-section-wrap .container .right-panel input[type="email"] {
      padding: 10px 20px; } }
.form-section-wrap .container .right-panel form .form-control {
  margin-bottom: 24px; }
.form-section-wrap .container .right-panel form .btm-fset1 .form-control {
  margin-bottom: 0; }

.complicated-data-wrap .section-header {
  padding-top: 32px;
  max-width: 692px; }
.complicated-data-wrap .displaydata-wrap {
  display: flex;
  align-items: top;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0; }
  .complicated-data-wrap .displaydata-wrap li {
    width: 33.3%;
    padding-right: 30px;
    padding-bottom: 58px; }
    @media screen and (max-width: 991px) {
      .complicated-data-wrap .displaydata-wrap li {
        padding-bottom: 48px;
        width: 50%; } }
    @media screen and (max-width: 767px) {
      .complicated-data-wrap .displaydata-wrap li {
        padding-bottom: 30px;
        width: 100%;
        padding-right: 0; } }
    @media screen and (max-width: 480px) {
      .complicated-data-wrap .displaydata-wrap li {
        padding-bottom: 10px; } }
    .complicated-data-wrap .displaydata-wrap li h5 {
      margin-bottom: 15px; }
      .complicated-data-wrap .displaydata-wrap li h5 .icon-circele-checked {
        color: #ffc800;
        font-size: 27px;
        margin-right: 12px;
        display: inline-block;
        vertical-align: middle; }
        @media screen and (max-width: 991px) {
          .complicated-data-wrap .displaydata-wrap li h5 .icon-circele-checked {
            font-size: 23px; } }
        @media screen and (max-width: 767px) {
          .complicated-data-wrap .displaydata-wrap li h5 .icon-circele-checked {
            font-size: 21px; } }

.circle-design {
  overflow: hidden;
  position: relative; }

.circle-design:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  z-index: -1;
  background: url(../images/circle-mask.svg) no-repeat center 400px; }
  @media screen and (min-width: 992px) and (max-width: 1599px) {
    .circle-design:after {
      background: url(../images/circle-mask.svg) no-repeat center 300px; } }
  @media screen and (max-width: 991px) {
    .circle-design:after {
      background: url(../images/circle-mask.svg) no-repeat center 280px; } }
  @media screen and (max-width: 767px) {
    .circle-design:after {
      background: url(../images/circle-mask.svg) no-repeat center 200px; } }
  @media screen and (max-width: 480px) {
    .circle-design:after {
      background: url(../images/circle-mask.svg) no-repeat center 150px; } }

.circle-design.z99:after {
  z-index: 99; }

.circle-design2 {
  overflow: hidden;
  position: relative; }
  .circle-design2 .rotate {
    position: relative; }
    .circle-design2 .rotate img {
      transform: rotate(2deg);
      -webkit-transform: rotate(2deg);
      -webkit-filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.078));
      filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.078));
      position: relative;
      z-index: 9; }
    .circle-design2 .rotate:after {
      content: "";
      position: absolute;
      width: 955px;
      height: 600px;
      background: url(../images/circle-imgsh.svg) no-repeat center;
      top: 13px;
      left: -245px;
      background-size: cover;
      filter: contrast(0.5);
      -webkit-filter: contrast(0.5); }

.circle-design2:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  z-index: -1;
  background: url(../images/circle-mask1.svg) no-repeat center 120px; }

.single-post-wrap {
  padding: 110px 0 65px; }
  @media screen and (max-width: 991px) {
    .single-post-wrap {
      padding: 70px 0 45px; } }
  @media screen and (max-width: 767px) {
    .single-post-wrap {
      padding: 70px 0 25px; } }
  .single-post-wrap .section-header {
    text-align: center; }
  .single-post-wrap .date {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    display: block; }

.full-image-wrp {
  margin-bottom: 90px; }
  @media screen and (max-width: 991px) {
    .full-image-wrp {
      margin-bottom: 70px; } }
  @media screen and (max-width: 767px) {
    .full-image-wrp {
      margin-bottom: 25px; } }
  .full-image-wrp .container {
    max-width: 1227px;
    text-align: center; }

.blockquote-wrap {
  padding: 42px 0; }
  @media screen and (max-width: 767px) {
    .blockquote-wrap {
      padding: 28px 0; } }
  .blockquote-wrap .container {
    max-width: 820px; }

.share-post-wrap {
  padding: 38px 0 140px; }
  @media screen and (max-width: 991px) {
    .share-post-wrap {
      padding: 32px 0 90px; } }
  @media screen and (max-width: 767px) {
    .share-post-wrap {
      padding: 22px 0 40px; } }
  .share-post-wrap .container {
    max-width: 722px; }
  .share-post-wrap .share-inner {
    border-top: 1px solid #f2f2f2;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .share-post-wrap .share-inner a.back {
      text-decoration: none;
      color: #ffd92c;
      transform: scale(-1); }
    .share-post-wrap .share-inner ul.social {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      text-align: center; }
      .share-post-wrap .share-inner ul.social li {
        padding: 0 10px; }
        .share-post-wrap .share-inner ul.social li a {
          width: 35px;
          height: 35px;
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
          background-color: #ffffff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none; }

/*# sourceMappingURL=app.css.map */
