@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gk1x08');
  src:  url('../fonts/icomoon.eot?gk1x08#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gk1x08') format('truetype'),
    url('../fonts/icomoon.woff?gk1x08') format('woff'),
    url('../fonts/icomoon.svg?gk1x08#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-family:before {
  content: "\e916";
  color: #ffc800;
}
.icon-happy:before {
  content: "\e917";
  color: #fff4cc;
}
.icon-buildings:before {
  content: "\e900";
  color: #ffc800;
}
.icon-cancle:before {
  content: "\e901";
  color: #e32727;
}
.icon-check:before {
  content: "\e902";
  color: #ffc800;
}
.icon-circele-checked:before {
  content: "\e903";
  color: #ffc800;
}
.icon-fb:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-location-marker:before {
  content: "\e906";
}
.icon-long-next-arrow:before {
  content: "\e907";
  color: #ffc800;
}
.icon-mail:before {
  content: "\e908";
}
.icon-man-bussiness:before {
  content: "\e909";
  color: #ffc800;
}
.icon-man-worker:before {
  content: "\e90a";
  color: #ffc800;
}
.icon-monitor-mobile:before {
  content: "\e90b";
  color: #ffc800;
}
.icon-next-angle-arrow:before {
  content: "\e90c";
}
.icon-next-arrow:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
  color: #ffc800;
}
.icon-rocket:before {
  content: "\e90f";
  color: #ffc800;
}
.icon-solar:before {
  content: "\e910";
  color: #ffc800;
}
.icon-solar-sun:before {
  content: "\e911";
}
.icon-static:before {
  content: "\e912";
  color: #ffc800;
}
.icon-sun:before {
  content: "\e913";
  color: #ffc800;
}
.icon-twitter:before {
  content: "\e914";
}
.icon-watch:before {
  content: "\e915";
}
