input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
select,
textarea {
	border-radius: 2px;
	border: 1px solid #2e2e2e;
	background-color: #ffffff;
	color: #2e2e2e;
	opacity: 0.35;
	font-size: $base-font-size;
	font-weight: 300;
	padding: 11px 20px 11px 24px;
	width:100%;
	@media screen and (max-width: $break-mobile) {
		font-size:13px;
		padding: 10px 20px;
	}
	&:invalid {
		border-color:#e32727;
	}
	&:not(:placeholder-shown) {
		opacity:1;
	}
	&:placeholder-shown {
	  opacity:.35;
	}
	&:focus {
		opacity:1;
	}
}
textarea {
	resize:vertical;
	min-height:123px;
}

.button, button{
	-webkit-appearance: none;
	cursor: pointer;
	border-radius:0;
	line-height: 21px;
	color: #000000;
	font-size: $base-font-size;
	font-weight: 700;
	padding:14px 30px;
	border:none;
	border-radius: 2px;
	background-color: $base-color;
	text-decoration:none;
	display:inline-block;
	transition:all .3s;
	@media screen and (max-width: $break-mobile) {
		font-size: 14px;
		padding:10px 20px;
	}
}
.button.green-button {	
	color: #ffffff;
	background-color: $green-color;
}
.button:not(.button2):hover {
	background-color:#d0b020;
}

.button2 {
	border-radius: 0;
	background-color: transparent;
	text-decoration:none;
	display:inline-block;
	transition:all .3s;
	padding-left:0;
}
.button2:after {
	content:"";
	display:inline-block;
	vertical-align:middle;
	width: 36px;
	height: 38px;
	margin-left:20px;
	border-radius: 2px;
	background: #ffd92c url(../images/next-angle-arrow.svg) no-repeat center;
	transition: all .3s;
	@media screen and (max-width: $break-mobile) {
		width: 30px;
		height: 32px;
	}
}
.button2:hover:after {
	background-color:#d0b020;
}

form {
	@media screen and (min-width: 768px) {
		box-shadow: 0 5px 14px rgba(0, 0, 0, 0.07);
		border-radius: 8px;
		margin-bottom:20px;
	}
	background-color: #ffffff;
	width:100%;
	overflow: hidden;
	.form-control {margin-bottom:24px;}
	.top-fset {
		padding:52px 12% 20px 12%;
	}
	legend {
		font-size: 18px;
		font-weight: 500;
		line-height: 28px;
		display:block;
		margin-bottom:30px;
	}
	.btm-fset {
		padding:20px 12% 0px 12%;
		background-color: #f1f2f3;
	}
	.btm-fset1 {
		padding:30px 12%;
	}
	label {
		font-size: 12px;
		font-weight: 500;
		display:block;
		line-height: 16px;
		margin-bottom: 6px;
	}
	.button {
		width:100%;
		display:block;
		padding: 24px 30px;
	}
	@media screen and (max-width: $break-mobile) {
		.top-fset,.btm-fset,.btm-fset1 {
			padding: 5px 0px;
		}
		.btm-fset {background:none;}
		.button {
			padding: 15px 30px;
		}
	}
	span {
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		display:block;
	}
	.file-input {
		overflow: hidden;
		position: relative;
		width: 177px;
		height: 49px;
		span {
			font-size: 16px;
			font-weight: 700;
			border-radius: 2px;
			display:block;
			height:100%;
			padding:17px 20px;
			background-color: #f1f2f3;
		}
		input[type=file] {
			cursor: inherit;
			display: none;
			filter: alpha(opacity=0);
			height: 100%;
			width: 100%;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #2e2e2e;
		opacity: 0.35;
		font-size: $base-font-size;
		font-weight: 300;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: #2e2e2e;
		opacity: 0.35;
		font-size: $base-font-size;
		font-weight: 300;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: #2e2e2e;
		opacity: 0.35;
		font-size: $base-font-size;
		font-weight: 300;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: #2e2e2e;
		opacity: 0.35;
		font-size: $base-font-size;
		font-weight: 300;
	}
	@media screen and (max-width: $break-mobile) {
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			font-size: 13px;
		}
		::-moz-placeholder { /* Firefox 19+ */
			font-size: 13px;
		}
		:-ms-input-placeholder { /* IE 10+ */
			font-size: 13px;
		}
		:-moz-placeholder { /* Firefox 18- */
			font-size: 13px;
		}
	}
	.not-validate {
		input {
			border: 1px solid #e32727;
			opacity:1;
		}
	}
	.error-mg {
		color: #e32727;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		padding:3px 0;
		display:block;
	}
	.checkbox-input {
		position:relative;
		padding-left:2.5em;
		input {display:none;}
		input:checked ~ span:before {
			content:"";
			position:absolute;
			top:0;
			left:0;
			width: 18px;
			height: 18px;
			display:block;
			background:url(../images/check-color.svg) no-repeat center / 12px 8px;
		}
		&:before {
			content:"";
			width: 18px;
			height: 18px;
			display:block;
			border-radius: 2px;
			border: 1px solid rgba(185, 189, 196, 0.3);
			background-color: #ffffff;
			position:absolute;
			top:0;
			left:0;
		}
	}
}

.contact-form {
	textarea {
		resize: none;
	}
	select {
		padding: 16px 20px 16px 24px;
		border-radius: 2px;
		border: 1px solid #b9bdc4;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: #fff url(../images/select-arrow.svg)no-repeat center right 15px;
	}
	input[type="text"], 
	input[type="email"], 
	input[type="password"], 
	input[type="search"], 
	input[type="tel"],
	textarea {
		font-size: 16px;
		font-weight: 300;
		font-family: "objektiv-mk1";
		height: 52px;
	}
}
.contact-form {
	input[type="text"] {
		&:placeholder-shown {
			border: 1px solid rgba(185, 189, 196, 0.3);
			opacity: 1;
		}
		&:focus {
			border: 1px solid #2e2e2e;
		}
	}
	input[type="email"] {
		&:placeholder-shown {
			border: 1px solid rgba(185, 189, 196, 0.3);
			opacity: 1;
		}
		&:focus {
			border: 1px solid #2e2e2e;
		}
	}
	input[type="password"] {
		&:placeholder-shown {
			border: 1px solid rgba(185, 189, 196, 0.3);
			opacity: 1;
		}
		&:focus {
			border: 1px solid #2e2e2e;
		}
	}
	input[type="search"] {
		&:placeholder-shown {
			border: 1px solid rgba(185, 189, 196, 0.3);
			opacity: 1;
		}
		&:focus {
			border: 1px solid #2e2e2e;
		}
	}
	input[type="tel"] {
		&:placeholder-shown {
			border: 1px solid rgba(185, 189, 196, 0.3);
			opacity: 1;
		}
		&:focus {
			border: 1px solid #2e2e2e;
		}
	}
	textarea {
		border: 1px solid rgba(185, 189, 196, 0.3);
		opacity: 1;
		&:focus {
			border: 1px solid #2e2e2e;
		}
	}
}

.contact-wrap {
	.contact-form {
		position: relative;
		overflow: visible;
		&:after {
			content: "";
			position: absolute;
			top: -10%;
			left: -10%;
			width: 130%;
			height: 66%;
			z-index: -9;
			background: url(../images/bg-shadow.png)no-repeat center/cover;
		}
	}
}