$base-color: #ffd92c;
$font-color: #252937;
$green-color: #54bd6f;

 
$base-font:"objektiv-mk1";
$base-font-size:16px;


$break-small: 480px;
$break-mobile : 767px;
$break-tab : 1024px;
$break-tabsmall : 991px;
$break-large: 1200px;


.container {
	max-width:1190px;
	margin:0 auto;
	padding:0 15px;
	width: 100%;
	@media screen and (max-width: $break-mobile) {
		padding:0 22px;
	}
}

@media screen and (min-width: 992px) {
	.pdtop150 {padding-top:150px ;}
	.pdbottom150 {padding-bottom:150px;}
	.pdtop105 {padding-top:105px !important;}
	.pdbottom105 {padding-bottom:105px !important;}
	.pdbottom60 {padding-bottom:60px;}
	.pdtop60 {padding-top:60px;}
	
	.mgtop105 {margin-top:105px;}
	.mgbottom105 {margin-bottom:105px;}
}


@media screen and (max-width: $break-tabsmall) {
	.pdtop150 {padding-top:110px ;}
	.pdbottom150 {padding-bottom:110px;}
	.pdtop105 {padding-top:85px !important;}
	.pdbottom105 {padding-bottom:85px !important;}
	.pdbottom60 {padding-bottom:50px;}
	.pdtop60 {padding-top:50px;}
	
	.mgtop105 {margin-top:85px;}
	.mgbottom105 {margin-bottom:85px;}
}


@media screen and (max-width: $break-mobile) {
	.pdtop150 {padding-top:90px ;}
	.pdbottom150 {padding-bottom:90px;}
	.pdtop105 {padding-top:65px !important;}
	.pdbottom105 {padding-bottom:65px !important;}
	.pdbottom60 {padding-bottom:40px;}
	.pdtop60 {padding-top:40px;}
	
	.mgtop105 {margin-top:65px;}
	.mgbottom105 {margin-bottom:65px;}
}

@media screen and (max-width: $break-small) {
	.pdtop150 {padding-top:60px ;}
	.pdbottom150 {padding-bottom:60px;}
	.pdtop105 {padding-top:35px !important;}
	.pdbottom105 {padding-bottom:35px !important;}
	.pdbottom60 {padding-bottom:20px;}
	.pdtop60 {padding-top:20px;}
	
	.mgtop105 {margin-top:35px;}
	.mgbottom105 {margin-bottom:35px;}
}

.text-right {
	text-align: right;
}





