body {
	-webkit-font-smoothing: auto;
	font-size: $base-font-size;
	color: $font-color;
	font-family:$base-font;
	line-height:1.4;
	font-style: normal;
	font-stretch: normal;
}

h1,h2,h3 {
	color: $font-color;
	font-family:$base-font;
}
h1,.h1 {
	font-size: 55px;
	font-weight: 700;
	line-height: 65px;
	margin-bottom: 22px;
}
h2,.h2 {
	font-size: 40px;
	line-height: 55px;
	font-weight: 700;
	margin-bottom: 25px;
}
h3 {
	font-size: 36px;
	line-height: 42px;
	font-weight: 700;
}
h4 {
	line-height: 29px;
	font-size: 20px;
	font-weight: 700;
	margin-bottom:15px;
}
h5{
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom:15px;
}
h6{
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
}
p {
	font-size: $base-font-size;
	color: $font-color;
	font-family:$base-font;
	line-height:26px;
	font-style: normal;
	margin-bottom:22px;
	font-weight:300;
}
ul {
	list-style:disc;
	padding-left:1.4em;
	margin-bottom:22px;
}
ul.styled, .global-content ul.styled {
	list-style:none;
	li {
		font-size: 15px;
		position:relative;
		font-weight: 500;
		line-height: 26px;
		padding-bottom:6px;
		@media screen and (max-width: $break-mobile) {
			font-size:14px;
			line-heaight:22px;
		}
		&:before {
			content:"";
			position:absolute;
			left:-1.35em;
			top:10px;
			height:7px;width:10px;
			background:url(../images/check.svg) no-repeat center / 10px 7px;
		}
	}
	&.colored-li {
		li:before {
			background:url(../images/check-color.svg) no-repeat center / 10px 7px;
		}
	}
}

ul.styled-warning, .global-content ul.styled-warning {
	list-style:none;
	li {
		font-size: 16px;
		position:relative;
		font-weight: 500;
		line-height: 26px;
		padding-bottom:6px;
		padding-left:1em;
		@media screen and (max-width: $break-mobile) {
			font-size:14px;
			line-heaight:22px;
		}
		&:before {
			content:"";
			position:absolute;
			left:-1.3em;
			top:4px;
			height:20px;width:20px;
			background:url(../images/cancle.svg) no-repeat center / 20px;
			@media screen and (max-width: $break-mobile) {
				height:15px;width:15px;
				top:6px;
				background:url(../images/cancle.svg) no-repeat center / 15px;
			}
		}
	}
}
a {
	color: $font-color;
}

strong,b{ font-weight:700; }
em,i { font-style:italic; }
blockquote p , cite {
	font-size: $base-font-size;
	color: $font-color;
	font-family:$base-font;
}
blockquote { 
	padding-left:30px;
	padding-bottom:10px;
	border-left:5px solid $base-color;
}
blockquote p {
	font-size: 25px;
	font-weight: 700;
	line-height: 40px;
	font-style: normal;
	@media screen and (max-width: $break-tabsmall) { 
		font-size: 22px;
		font-weight: 500;
		line-height: 32px;
	}
	@media screen and (max-width: $break-mobile) { 
		font-size: 22px;
		line-height: 28px;
	}
	@media screen and (max-width: $break-small) { 
		font-size: 16px;
		line-height: 24px;
	}
}

img {
     border: 0px;
     max-width: 100%;
	 height:auto;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
  max-width:100%;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
iframe,video {
	max-width:100%;
	height:auto;
}
table {
	width:100%;
	border-collapse: collapse;
	margin-bottom: 18px;
}
td,th {
	font-size: $base-font-size;
	color: $font-color;
	font-family:$base-font;
	font-weight: 400;
	line-height: 26px;
	border: 1px solid #6a737f;
    padding: 12px;
}
th {font-weight:700;}

@media screen and (max-width: $break-tabsmall) {
	h1,.h1 {
		font-size: 44px;
		line-height: 48px;
	}
	h2,.h2 {
		font-size: 37px;
		line-height: 48px;
	}
	h3 {
		font-size: 34px;
	}
}

@media screen and (max-width: $break-mobile) {
	body {
		font-size: 15px;
	}
	h1,.h1 {
		font-size: 35px;
		line-height: 45px;
	}
	h2,.h2 {
		font-size: 30px;
		line-height: 38px;
	}
	h3 {
		font-size: 22px;
		line-height: 30px;
	}
	h4 {
		font-size: 19px;
	}

	p {
		font-size: 15px;
		line-height:22px;
	}
}

@media screen and (max-width: $break-small) {
	body {
		font-size: 13px;
	}
	h1,.h1,h2,.h2 {
		font-size: 22px;
		line-height: 30px;
	}
	h3 {
		font-size: 20px;
		line-height: 28px;
	}
	h4 {
		font-size: 17px;
	}
	h5 {font-size:16px;}

	p {
		font-size: 13px;
		line-height:18px;
	}
}