@media screen and (min-width: 992px) {
	.site-content {padding-top:70px;}
}

.banner-wrap {
	position:relative;
	padding-top: 21.75%;
	overflow: hidden;
	.banner-bar {
		min-height:817px;
		@media screen and (max-width: $break-large) {
			min-height: 660px;
		}
		@media screen and (max-width: $break-tab) {
			min-height: 620px;
		}
		@media screen and (max-width: $break-tabsmall) {
			min-height: 540px;
		}
		@media screen and (max-width: $break-mobile) {
			min-height: 480px;
		}
		@media screen and (max-width: $break-small) {
			min-height: 320px;
		}
		top:0;
		left:0;width:100%;	
		position:absolute;
		&.mask {
			mask-image: url(../images/mask1.svg);
			-webkit-mask-image: url(../images/mask-home.svg);
			mask-mode: alpha;
			mask-repeat: no-repeat;
			-webkit-mask-repeat: no-repeat;
			mask-size: 100% 100%;
			-webkit-mask-size: 100% 100%;
		}
	}
	.text-caption {
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		background-color: #ffffff;
		max-width: 100%;
		width: 895px;
		margin:0 auto;
		padding:65px 8%;
		@media screen and (max-width: $break-small) {
			padding:35px 20px;
		}
		text-align:center;
		position:relative;
		z-index:2;
		span.name-t {
			color: #92949b;
			text-align:center;
			margin-bottom:28px;
		}
		.h2 {
			margin-bottom:32px;
		}
		@media screen and (min-width: 768px) {
			p{
				font-size: 18px;
				line-height: 28px;
				margin-bottom: 39px;
			}
		}
		
	}
}

.banner-wrap.inner-banner {
	padding-top:31.5%;
	.banner-bar {
		min-height: 770px;
		@media screen and (max-width: $break-large) {
			min-height: 700px;
		}
		@media screen and (max-width: $break-tab) {
			min-height: 620px;
		}
		@media screen and (max-width: $break-tabsmall) {
			min-height: 580px;
		}
		@media screen and (max-width: $break-mobile) {
			min-height: 460px;
		}
		@media screen and (max-width: $break-small) {
			min-height: 320px;
		}
	}
}


.logos-wrap {
	@media screen and (max-width: $break-mobile) { 
		padding:30px 0 !important;
	}
	span.name-t {
		color: #92949b;
		text-align: center;
		margin-bottom: 42px;
		@media screen and (max-width: $break-tabsmall) {
			margin-bottom: 32px;
		}
	}
	ul {
		list-style:none;
		margin:0 auto;
		padding:0;
		@media screen and (min-width: 768px) {
			display:flex;
			justify-content:space-between;
			align-items:center;
			flex-wrap:wrap;
			max-width:980px;
			li {
				flex:0 0 25%;
				padding:0 20px 60px;
				text-align:center;
			}
		}	
		@media screen and (max-width: $break-mobile) {
			li a {
				padding:0px 20px;
				display:flex !important;
				justify-content:center;
				align-items:center;
				min-height:64px;
			}
		}
	}
}

span.name-t {
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	display:block;
}
.section-header {
	max-width:592px;
	margin:0 auto;
	@media screen and (min-width: 768px) {
		text-align:center;
	}
	a.button {
		margin-top: 20px;
	}
}
.col-3 {
	@media screen and (min-width: 768px) {
		float:left;
		width:33.3%;
		padding:0 20px;
	}
	margin-bottom:30px;
	
}

	
.features-wrap {
	@media screen and (min-width: 768px) {
		text-align:center;
	}
	.section-header {
		padding:60px 0 50px;
		@media screen and (max-width: $break-tabsmall) {
			padding:0px 0 30px;
		}
		@media screen and (max-width: $break-mobile) {
			padding:0px 0 10px;
		}
	}
	.features-list {
		@media screen and (min-width: 768px) {
			padding-bottom:20px;
		}
		.feature-col {
			h4 {
				margin-bottom: 10px;
				@media screen and (max-width: $break-mobile) {
					display:inline-block;
					vertical-align:middle;
				}
			}
			img {
				display:inline-block;
				margin-bottom:22px;
				@media screen and (max-width: $break-mobile) {
					vertical-align: middle;
					margin-right:15px;
					margin-bottom:10px;
				}
			}
		}
	}
}	


.features-wrap1 {
	.section-header {
		padding:24px 0 128px;
		@media screen and (max-width: $break-tabsmall) {
			padding:20px 0 60px;
		}
		@media screen and (max-width: $break-mobile) {
			padding:20px 0 30px;
		}
	}
}


.two-half-wrap {
	.container {
		max-width: 1134px;	
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: $break-mobile) {
			flex-direction:column;
		}
		.col1 {
			@media screen and (min-width: 768px) {
				width:46%;
			}
			@media screen and (max-width: $break-mobile) {
				order:2;
			}
			span.name-t {
				color: #92949b;
				margin-bottom:16px;
			}
			p {margin-bottom:22px;}
			ul.styled {
			    margin-bottom: 45px;
			}
		}
		.col2 {
			@media screen and (min-width: 768px) {
			width:50%;
				padding-top: 30px;
			}
			@media screen and (max-width: $break-mobile) {
				padding: 24px 22px;
				background-color: #f2f2f2;
				margin-bottom: 30px;
				width: calc(100% + 44px);
				text-align: center;
				margin: 0 -22px 30px;
				order:1;
			}
		}
		.fig {
			display: inline-block;
			img {
				border-radius: 5px;
			    display: block;
			}
		}
		.figure {
			figure {
				position: relative;
				display: inline-block;
				border: solid 15px #fff;
				border-radius: 10px;
				box-shadow: 0px 0px 10px rgba(0,0,0,0.08);
				background: #ffffff;
				img {
					border-radius: 5px;
					display: block;
				}
			}
			&.bk-shdw-left {   
				&:after {
					content: "";
					position: absolute;
					top: 0%;
					left: -20%;
					width: 120%;
					height: 126%;
					background: url(../images/mask-Copy-left.png) no-repeat center/cover;
					z-index: -9;
				}
			}
			&.bk-shdw-right {   
				&:after {
					content: "";
					position: absolute;
					top: 0%;
					right: -20%;
					width: 120%;
					height: 126%;
					background: url(../images/mask-Copy-right.png) no-repeat center/cover;
					z-index: -9;
				}
			}
		}
	}
	&.turn-lft {
		.fig {
			transform: rotate(-2deg);
		}
	}
	&.turn-rght {
		.fig {
			transform: rotate(2deg);
		}
	}
}
.two-half-wrap.pos-right {
	.col1 {
			order:2;
			@media screen and (min-width: 768px) {
				text-align:right;
			}
		}
		.col2 {
			order:1;
		}
}

.two-half-wrap.small-design {
	.container {max-width:925px;}
}



.blog-sec-wrap {
	.container{
		max-width:1028px;
		.text-wrap {
			text-align:center;
			padding:0px 0 45px;
		}
		.blogs-list {
			@media screen and (min-width: 768px) {
				padding-bottom:20px;
			}
			.blog-col {
				margin-bottom:30px;
				@media screen and (min-width: 768px) {
					float:left;
					width:calc(33.3% - 23px);
					margin-right:34px;
					margin-bottom:60px;
				}
				
				@media screen and (max-width: $break-tabsmall) and (min-width: 768px) {
					margin-bottom:40px;
					margin-right:30px;
				}
				&:nth-child(3n) {margin-right:0;}
				a {
					text-decoration:none;
					display:block;
				}
				img {
					display:block;
					margin-bottom:10px;
					width:100%;
				}
				span.date {
					color: #92949b;
					font-size: 11px;
					font-weight: 500;
					line-height: 26px;
					display:block;margin-bottom:6px;
				}
				&:nth-child(3n+1) {clear:both;}
			}
		}
	}	
}
.blog-page.blog-sec-wrap {
	padding:85px 0 109px;
	@media screen and (max-width: $break-tabsmall) {
		padding:60px 0 70px;
	}
	.text-wrap {
		padding: 0px 0 68px;
		@media screen and (max-width: $break-tabsmall) {
			padding-bottom:44px;
		}
	}
}


.pages-banner-wrap {
	position:relative;
	padding-bottom:50px;
	@media screen and (min-width: 768px) {
		display:flex;
		align-items:center;
		min-height:875px;
		padding:100px 0;
	}
	@media screen and (min-width: 1200px) and (max-width:1599px){
		min-height:675px;
	}
	@media screen and (max-width:1199px){
		min-height:575px;
	}
	@media screen and (max-width:991px) and (min-width: 768px){
		min-height:505px;
		margin-top:-2px;
		padding:90px 0;
	}
	@media screen and (max-width:767px){
		min-height:0;
	}
	.pages-banner-wrap-inner {
		background-repeat: no-repeat;
		background-position:right bottom ;
		position:absolute;
		left:0;
		top:-1px;
		width:100%;
		height:100%;
		@media screen and (min-width: 768px) {
			&:after {
				content:"";
				height:100%;
				width:100%;
				z-index:1;
				position:absolute;
				top:1px;
				left:0;
				@media screen and (min-width: 1600px) {
					background:url(../images/MaskWhite.svg) no-repeat left bottom / 100%;
				}
				@media screen and (min-width: 768px) and (max-width:1599px){
					background:url(../images/MaskWhite.svg) no-repeat left bottom / cover;
				}
			}
		}
		@media screen and (max-width: $break-mobile) {
			position:relative;
			height:400px;
			margin-bottom:40px;
			clip-path: ellipse(90% 95% at 30% 4%);
			background-position:center bottom;
		}
		@media screen and (max-width: $break-small) {height:300px;clip-path: ellipse(90% 90% at 40% 5%);}
	}
	.container {
		position:relative;
		z-index:999;
		.text-wrap {
			max-width:542px;
			@media screen and (max-width:991px) and (min-width: 768px){width:50%;}
			.h2 {margin-bottom:40px;}
		}
	}
}

.about-wrap {
	padding:80px 0 30px;
	@media screen and (max-width: $break-tabsmall) {
		padding:60px 0 30px;
	}
	.section-header {
		padding-bottom:60px;
	}
	.about-design {
		@media screen and (min-width: 768px) {
			display:flex;
			width:100%;
			align-items:center;
			justify-content:space-between;
		}
		@media screen and (max-width: $break-tabsmall) {
			padding:30px 0 52px;
		}
		@media screen and (min-width: 992px) {
			padding:42px 5% 104px;
		}
		@media screen and (max-width: $break-mobile) {
			padding:30px 22px 10px;
			background-color: #f1f2f3;
			margin:0 -22px 40px;
		}
		.left-design{
			width:66%;
			@media screen and (max-width: $break-tabsmall) {
				width:55%;
			}
			@media screen and (max-width: $break-mobile) {display:none;}
			ul{
				list-style:none;
				margin:0;
				padding:0;
				display:flex;
				align-items:center;
				justify-content:space-between;
				width:90%;
				position:relative;
				&:after {
					content:"";
					width:100%;
					position:absolute;
					left:13%;
					top:50%;
					height:1px;
					background-color: #b9bdc4;
				}
				li {
					position:relative;
					z-index:1;
					@media screen and (max-width: $break-tabsmall) {
						max-width:110px;
					}
					figure {
						padding:10px 20px;
						background:#fff;
					}
					&:last-child:before,&:last-child:after {
						content:"";
						width:100px;
						position:absolute;
						left:100%;
						height:1px;
						background-color: #b9bdc4;
						transform-origin: 0 0;
					}
					&:last-child:before {
						top:60%;
						transform:rotate(45deg);
					}
					&:last-child:after {
						top:40%;
						transform:rotate(-45deg);
					}
				}
			}
		}
		.right-design{
			width:34%;
			padding-left:8%;
			@media screen and (max-width: $break-tabsmall) {
				width:42%;
				padding-left:2%;
			}
			@media screen and (max-width: $break-mobile) {
				width:100%;
				padding:0;
				
			}
			ul {
				list-style:none;
				margin:0;
				padding:0;
				li {
					padding-bottom:20px;
					display:flex;
					align-items:center;
					justify-content:space-between;
					.img-w {
						width:78px;
						img {max-width:53px;}
					}
					.con-w { 
						width:calc(100% - 78px);
						h4 {margin-bottom:6px;} 
					}
				}
			}
		}
	}
	.about-content {
		max-width:692px;
		margin:0 auto;
		h5 {
			font-size: 18px;
			font-weight: 500;
			line-height: 28px;
			margin-bottom: 20px;
		}
	}
}

.slider-wrap {
	padding:92px 0;
	@media screen and (max-width: $break-tabsmall) {
		padding:60px 0;
	}
	@media screen and (max-width: $break-tabsmall) {
		padding:30px 0;
	}
	.slider1 {
		img {
			width:100%;
		}
		.slick-prev, .slick-next {
			top:50%;
			width: 60px;
			height: 60px;
			background:#ffffff url(../images/arrow.svg) no-repeat center / 21px 15px;
			@media screen and (max-width: $break-mobile) {
				width: 30px;
				height: 30px;
				background:#ffffff url(../images/arrow.svg) no-repeat center / 15px;
			}
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
			border-radius:50%;
			left:241px;
			@media screen and (max-width: 1199px) { left:120px; }
			@media screen and (max-width: 1023px) {left:100px;}
			@media screen and (max-width: 991px) {left:51px;}
			@media screen and (max-width: $break-mobile) {left:20px;}
			z-index:2;
			transform:translate(-50%,-50%);
			
		}
		.slick-next {
			right:241px;
			@media screen and (max-width: 1199px) { right:120px; }
			@media screen and (max-width: 1023px) {right:100px;}
			@media screen and (max-width: 991px) {right:51px;}
			@media screen and (max-width: $break-mobile) {right:20px;}
			
			left:auto;transform:translate(50%,-50%) scale(-1);
		}
		.slick-prev:before, .slick-next:before {content:"";display:none;}
	}	
}


.vacatures-wrap {
	padding:112px 0 93px;
	@media screen and (max-width: $break-tabsmall) {
		padding:72px 0 60px;
	}
	@media screen and (max-width: $break-mobile) {
		padding:42px 0 40px;
	}
	.vacatures-list {
		list-style:none;
		margin:0 auto;
		max-width:895px;
		padding:77px 0 52px;
		@media screen and (max-width: $break-tabsmall) {
			padding:58px 0 42px;
		}
		@media screen and (max-width: $break-mobile) {
			padding:28px 0 32px;
			margin:0 -22px;
			width:calc(100% + 44px);
		}
		li a {
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
			border-radius: 4px;
			background-color: #ffffff;
			display:block;
			padding:42px 50px;
			display:flex;
			align-items:center;
			justify-content:space-between;
			text-decoration:none;
			margin-bottom:15px;
			transition:.3s all;
			@media screen and (max-width: $break-mobile) {
				padding:24px 22px;
				flex-wrap:wrap;
				justify-content: flex-start;
			}
			span.name {
				font-weight: 500;
				flex:0 0 32%;
				transition:.3s all;
				@media screen and (max-width: $break-mobile) {
					flex: 0 0 90%;
					order:1;
				}
			}
			span.vtype,span.loc{
				opacity: 0.2;
				font-weight: 400;
				transition:.3s all;
				@media screen and (max-width: $break-mobile) {
					opacity:1;
					order:3;
					width:auto;
					margin-top:15px;
					padding-right:25px;
				}
			}
			span.loc {
				position: relative;
				&:after {
					position: absolute;
					content: "";
					width: 1px;
					height: 20px;
					top: 1px;
					left: -70%;
					background: #f2f2f2;
				}
			}
			.icon-next-arrow {
				color: #ffc800;
				transition:.3s all;
				@media screen and (max-width: $break-mobile) {
					order:2;
					flex:0 0 10%;
				}
			}
			&:hover {
				box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
				span.name {
					color: #ffc800;
				}
				span.vtype,span.loc {
					opacity:1;
				}
				.icon-next-arrow:before {
					content: "\e907";
				}
			}
		}
	}
}

.team-wrap {
	padding:110px 0 125px;
	position:relative;
	overflow:hidden;
	@media screen and (max-width: $break-tabsmall) {
		padding:70px 0 85px;
	}
	@media screen and (max-width: $break-mobile) {padding:50px 0 55px;}
	background-color: $font-color;
	margin:38px 0;
	color:#fff;
	&:before { 
		content:"";
		height:100%;width:100%;
		position:absolute;
		top:-15%;
		left:-20%;
		transform:translate(0,0) rotate(-25deg);
		background:url(../images/circle-mask2.svg) no-repeat center top;
	}
	&:after {
		content:"";
		height:100%;width:100%;
		position:absolute;
		top:66%;
		left:12%;
		transform:translate(0,0);
		background:url(../images/circle-mask21.svg) no-repeat center top;
	}
	h2,p{color:#fff;}
	.section-header {
		padding:56px 0 50px;
		@media screen and (max-width: $break-tabsmall) {
			padding:36px 0 30px;
		}
	}
	.teams-member {
		ul{
			list-style:none;
			margin:0;
			padding:0;
			display:flex;
			align-items:flex-start;
			justify-content:center;
			text-align:center;
			li {
				padding:0 25px 45px;
				figure {
					display:flex;
					align-items:center;
					justify-content:center;
					width: 180px;
					height: 180px;
					overflow:hidden;
					margin:0 auto 30px;
				}
				strong.name {
					color: #ffffff;
					font-size: 15px;
					font-weight: 500;
					line-height: 26px;
					display:block;
					margin-bottom: 5px;
				}
				.degination {
					color: #ffffff;
					font-size: 13px;
					font-weight: 400;
					line-height: 26px;
					display:block;
				}
			}
		}
	}
}

.single-vacatures-wrap {
	padding:110px 0 0px;
	@media screen and (max-width: $break-tabsmall) {
		padding:80px 0 40px;
	}
	.section-header {
		text-align:center;
	}
	.meta-data {
		margin-bottom:28px;
		& > span {
			display:inline-block;
			padding:0 20px;
			font-size: $base-font-size;
			font-weight: 400;
			position: relative;
			&:after {
				position: absolute;
				content: "";
				width: 1px;
				height: 20px;
				top: 1px;
				right: -2px;
				background: #f2f2f2;
			}
			&:last-child:after {
				display: none;
			}
		}
	}
}

.content-wrap {
	padding:25px 0 28px;
	.container {
		max-width:722px;
	}
}

.vacatures-form-wrap {
	@media screen and (min-width: 768px) {
		background:url(../images/footer.png) no-repeat center / cover;
	}
	padding:90px 0;
	@media screen and (max-width: $break-tabsmall) {
		padding:60px 0 20px;
		.btm-fset1 .form-control {margin:0;}
	}
	position:relative;
	@media screen and (min-width: 768px) {
		&:after {
			content:"";
			height:100%;
			width:100%;
			z-index:1;
			position:absolute;
			top:0;
			left:0;
			background:url(../images/footerMask.svg) no-repeat center / cover;
		}
	}
	.container {
		max-width: 925px;
	} 
	@media screen and (min-width: 768px) {
		.right-panel {
			position:relative;
			z-index:2;
			
			&>p{
				color:#fff;
				max-width:580px;
				margin:10px auto;
				text-align:center;
			}
		}
	}
}

.contact-wrap {
	padding:80px 0;
	@media screen and (max-width: $break-tabsmall) {padding:60px 0;}
	@media screen and (max-width: $break-mobile) {padding:30px 0;}
	.row {
		@media screen and (min-width: 768px) {
			display:flex;
			align-items:center;
			justify-content:space-between;
		}
		.left-panel {
			@media screen and (min-width: 768px) {
				width:349px;
				max-width:50%;
			}
			a,span,address {
				display:block;
				font-weight:300;
			}
			address {margin-bottom:20px;}
			span.kvk {
				font-size: 13px;
				font-weight: 300;
				line-height: 26px;
				text-transform: uppercase;
				display:block;
				margin-bottom:40px;
			}
			#map {
				width:100%;
				min-height:340px;
				@media screen and (min-width: 768px) {
					width: 339px;
					height: 295px;
				}
			}
			
		}
		.right-panel {
			@media screen and (min-width: 768px) {
				width: 493px;
				max-width:50%;
			}
			p {
				text-align:center;
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
				padding:0 30px;
			}
		}
	}
}

.tesimonial-wrap { 
	margin:52px 0;
	padding:164px 0 140px;
	position:relative;
	overflow:hidden;
	@media screen and (max-width: $break-tabsmall) {
		padding:100px 0;
		margin:42px 0;
	}
	@media screen and (max-width: $break-mobile) {
		padding:50px 0;
		margin:22px 0;
	}
	background-color: #252937;
	text-align:center;
	&:before { 
		content:"";
		height:100%;width:100%;
		position:absolute;
		top:-15%;
		left:-20%;
		transform:translate(0,0) rotate(-25deg);
		background:url(../images/circle-mask2.svg) no-repeat center top;
	}
	&:after {
		content:"";
		height:100%;width:100%;
		position:absolute;
		top:66%;
		left:12%;
		transform:translate(0,0);
		background:url(../images/circle-mask21.svg) no-repeat center top;
	}
	.container {
		max-width:824px;
	}
	p {
		font-size: 22px;
		font-weight: 500;
		line-height: 38px;
		color:#fff;
		@media screen and (max-width: $break-tabsmall) {font-size: 20px;line-height: 34px;}
		@media screen and (max-width: $break-mobile) {font-size: 16px;line-height: 28px;}
		@media screen and (max-width: $break-small) {font-size: 14px;line-height: 20px;}
	}
	span {
		color:#fff;
		font-size: 15px;
		font-weight: 400;
		line-height: 38px;
		@media screen and (max-width: $break-mobile) {font-size: 13px;line-height: 20px;}
	}
	.testimonial-slider {
		padding-top:40px;
		.slick-prev, .slick-next {
			top:-20px;
			width: 30px;
			height: 30px;
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
			right:47%;
			z-index:2;
			left:auto;
			transform:translate(50%,-50%);
			background: url(../images/arrow-white.svg) no-repeat center / 21px 15px;
			@media screen and (max-width: $break-mobile) {
				top:0px;
				right:45%;
			}
		}
		.slick-prev {
			left:47%;right:auto;transform:translate(-50%,-50%) scale(-1);
			@media screen and (max-width: $break-mobile) {
				left:45%;
			}
		}
		.slick-prev:before, .slick-next:before {content:"";display:none;}
	}
}


.subscribe-wrap{
	padding:80px 0;
	@media screen and (max-width: $break-tabsmall) {padding:60px 0;}
	@media screen and (max-width: $break-mobile) {padding:40px 0;}
	.scribe-form {
		margin:30px 0;
		padding:0;
		@media screen and (min-width: 768px) {
			display:flex;
			align-items:center;
			justify-content:space-between;
			height:53px;
		}
		@media screen and (max-width: $break-mobile) {
			box-shadow:none;
			margin-bottom:0;
		}
		border-radius:0;
		label {
			height:100%;
			width:65%;
			margin:0;
			input {
				height:100%;
				border-radius: 2px 0 0 2px;
				border: 1px solid rgba(185, 189, 196, 0.3);
				background-color: #ffffff;
			}
			@media screen and (max-width: $break-mobile) {width:100%;margin-bottom:15px;}
		}
		button {
			width:auto;
			padding:10px 20px;
			@media screen and (min-width: 768px) {
				height:100%;
				width:35%;
			}
			border-radius: 0 2px 2px 0;
		}
	}
}

.warning-notes-wrap {
	.container {
		max-width:1020px;
	}
	.section-header {
		padding:40px 0 30px;
		max-width:792px;
		@media screen and (max-width: $break-mobile) {
			padding:0px 0 30px;
		}
	}
	.warning-msgs {
		@media screen and (min-width: 768px) {
			display:flex;
			align-items:top;
			justify-content:space-between;
			&> div {max-width:48%;}
			ul.styled-warning li {
				padding-bottom: 24px;
			}
		}
	}
}

.work-housing-wrap {
	.two-half-wrap {
		padding:46px 0;
		@media screen and (max-width: $break-mobile) {
			padding:20px 0 30px;
		}
		&.pos-right .col1 {
			order: 2;
			text-align: left;
		}
		@media screen and (min-width: 768px) {
			.col1 {width:44%;}
		}
		h3 {
			@media screen and (min-width: 768px) {
				font-size: 25px;
				font-weight: 700;
				line-height: 35px;
			}
		}
	}
}

.form-section-wrap {
	@media screen and (min-width: 768px) {
		background-color: #f1f3f4;
	}
	.container {
		@media screen and (min-width: 768px) {
			display:flex;
			align-items:center;
			justify-content:space-between;
			max-width: 1020px;
			&> div {width:50%;}
			.left-panel {
				padding-left:2%;
			}
		}
		.right-panel {
			@media screen and (min-width: 768px) {
				width: 391px;
			}
			p {
				color: #000000;
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
				text-align:center;
				padding:10px 20px;
			}
			input[type="text"], input[type="email"] {
				padding: 18px 20px 18px 24px;
				@media screen and (max-width: $break-mobile) {
					padding: 10px 20px;
				}
			}
			form .form-control {
				margin-bottom: 24px;
			}
			form .btm-fset1 .form-control {
				margin-bottom:0;
			}
		}
	}
}

.complicated-data-wrap {
	.section-header {
		padding-top:32px;
		max-width:692px;
	}
	.displaydata-wrap {
		display:flex;
		align-items:top;
		justify-content:space-between;
		flex-wrap:wrap;
		list-style:none;
		padding:0;
		margin:0;
		li {
			width:33.3%;
			padding-right:30px;
			padding-bottom:58px;
			@media screen and (max-width: $break-tabsmall) {
				padding-bottom:48px;
				width:50%;
			}
			@media screen and (max-width: $break-mobile) {
				padding-bottom:30px;
				width:100%;
				padding-right:0;
			}
			@media screen and (max-width: $break-small) {
				padding-bottom:10px;
			}
			h5 {
				margin-bottom:15px;
				.icon-circele-checked {
					color: #ffc800;
					font-size:27px;
					margin-right:12px;
					display:inline-block;
					vertical-align:middle;
					@media screen and (max-width: $break-tabsmall) {font-size:23px;}
					@media screen and (max-width: $break-mobile) {font-size:21px;}
				}
			}
		}
	}
}

.circle-design {
	overflow:hidden;
	position:relative;
}
.circle-design:after {
	content:"";
	height:100%;width:100%;
	position:absolute;
	top:0;
	left:0;
	transform:translate(0,0);
	z-index:-1;
	background:url(../images/circle-mask.svg) no-repeat center 400px;
	@media screen and (min-width: 992px) and (max-width:1599px){
		background:url(../images/circle-mask.svg) no-repeat center 300px;
	}
	@media screen and (max-width:991px){
		background:url(../images/circle-mask.svg) no-repeat center 280px;
	}
	@media screen and (max-width:767px){
		background:url(../images/circle-mask.svg) no-repeat center 200px;
	}
	@media screen and (max-width:480px){
		background:url(../images/circle-mask.svg) no-repeat center 150px;
	}
}
.circle-design.z99:after {
	z-index:99;
}

.circle-design2 {
	overflow:hidden;
	position:relative;
	.rotate {
		position:relative;
		img {
			transform:rotate(2deg);
			-webkit-transform:rotate(2deg);			
			-webkit-filter: drop-shadow(0px 1px 6px rgba(0,0,0,0.078));
			filter: drop-shadow(0px 1px 6px rgba(0,0,0,0.078));
			position: relative;
			z-index: 9;
		}
	&:after {
		content: "";
		position: absolute;
		width: 955px;
		height: 600px;
		background: url(../images/circle-imgsh.svg) no-repeat center;
		top: 13px;
		left: -245px;
		background-size: cover;
		filter: contrast(0.5);
		-webkit-filter: contrast(0.5);
	}		
	}
}
.circle-design2:after {
	content:"";
	height:100%;width:100%;
	position:absolute;
	top:0;
	left:0;
	transform:translate(0,0);
	z-index:-1;
	background:url(../images/circle-mask1.svg) no-repeat center 120px;
}