#header-part {
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.12);
	background-color: #ffffff;
	position:relative;
	z-index: 99999;
	@media screen and (min-width: 992px) {
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
	.container {
		 max-width: 1230px;
		.mb-bar {
			@media screen and (min-width: 992px) {
				float:left;
				width:50%;
				max-width:450px;
			}
			&:not(.nav-brand) {
				float:left;
				width:50%;
			}
			padding:20px 0;
			.logo-bar {
				float:left;
			}
			.mail-phone {
				float:right;
				padding-left:7%;
				a {
					color: #252937;
					font-weight: 500;
					padding: 7px 20px;
					border-radius: 19px;
					display: inline-block;
					font-size: 12px;
					text-decoration:none;
				}
				.mail-id {
					font-size: 13px;
					background-color: #f1f2f3;
				}
				@media screen and (max-width: $break-tabsmall) {
					display:none;
				}
			}
		}
		.nav-bar {
			@media screen and (min-width: 992px) {
				float:right;
				max-width:50%;
			}
			@media screen and (max-width: $break-tabsmall) {
				&.nav-bar-menu{
					position:absolute;
					width:100%;
					left:0;
					top:100%;
					background:#fff;
					padding:25px 30px 40px;
					 box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
					 display:none;
				 }
			}
			ul.menu{
				list-style:none;
				margin:0;
				padding:0;
				@media screen and (min-width: 992px) {
					text-align:right;
				}
				&>li {
					position:relative;
					@media screen and (min-width: 992px) {
						display:inline-block;
						padding:24px 10px;
					}
					a {
						color: #252937;
						font-size: 13px;
						font-weight: 500;
						display:block;
						text-decoration:none;
						padding:0 2px;
						position:relative;
						@media screen and (min-width: 992px) {
							&:after {
								content:"";
								width:100%;
								height:2px;
								background-color:transparent;
								left:0;
								bottom:-4px;
								position:absolute;
								opacity: 0.5;
							}
							&:hover:after {
								background-color: #252937;
							}
						}
						@media screen and (max-width: $break-tabsmall) {
							font-size: 16px;
							font-weight: 500;
							display:block;
							margin-bottom:15px;
						}
					}
					ul.submenu {
						@media screen and (min-width: 992px) {
							display:none;
							position:absolute;
							background-color: #ffffff;
							box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
							border-radius: 4px 4px;
							text-align:left;
							top:100%;
							left:40px;
							padding:18px 29px;
							transform:translateX(-50%);
							min-width: 238px;
							li {
								display:block;
								a {
									display:inline-block;
									margin-bottom:15px;
								}
							}
						}
						@media screen and (max-width: $break-tabsmall) {
							padding:0;
							margin:0;
							list-style:none;
							a {
								opacity: 0.6;
								font-size: 14px;
								font-weight: 500;
								line-height: 16px;
								margin-bottom:15px;
							}
						}	
					}
					@media screen and (min-width: 992px) {
						&:hover ul.submenu {
							display:block;
						}
					}
				}
				li.current {
					&>a:after {
						background-color: #252937;
					}
				}
				
				.mega-submenu {
					ul {
						list-style:none;
						margin:0;
						padding:0;
					}
					@media screen and (min-width: 992px) {
						display:none;
						position:absolute;
						box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
						border-radius: 4px;
						background-color: #ffffff;
						text-align:center;
						top:100%;
						left:0;
						transform:translateX(-50%);
						ul {
							display: flex;
							justify-content: space-between;
							list-style:none;
							margin:0;
							padding:0;
							min-width:696px;
							li {
								min-height:100%;
								padding:40px 30px;
								&:first-child{
									background:#fff;
								}
								&:last-child {
									background:#252937;
									.title {
										color:#fff;
									}
								}
								.title {
									display:flex;
									font-size: 30px;
									font-weight: 700;
									line-height: 45px;
									margin-bottom:20px;
									min-height:90px;
									align-items:center;
									justify-content:center;
								}
								span.arrow {
									display:inline-block;
									margin-bottom:30px;
								}
								a {
									display:block;
									text-decoration:none;
									&:after {display:none;}
								}
							}
						}
					}
					@media screen and (max-width: $break-tabsmall) {
						img,span.arrow {display:none;}
						a {
							opacity: 0.6;
							font-size: 14px;
							font-weight: 500;
							line-height: 16px;
							margin-bottom:15px;
						}
					}
				}
				&:hover .mega-submenu {display:block;}
				
			}
			a.button {
				padding:10px;
				color: #000000;
				font-size: 14px;
				font-weight: 700;
				margin: 20px 0;
				float: right;
			}
			
			.mobile-menu {
				@media screen and (min-width: 992px) {
					display:none;
				}
				@media screen and (max-width: $break-tabsmall) {
					padding:0;
					margin:0;
					padding-top:100px;
					list-style:none;
					display:flex;
					flex-direction:column;
					justify-content:center;
					align-items:center;
					a {
						opacity: 0.3;
						font-size: 13px;
						font-weight: 500;
						display:dlock;
						margin-bottom:10px;
						text-decoration:none;
					}
				}
			}
		}
	}
}


#nav-toggle { 
	float:right;
	@media screen and (min-width: 992px) {
		display:none;
	}
}


#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #252937;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}