.single-post-wrap {
	padding:110px 0 65px;
	@media screen and (max-width: $break-tabsmall) {
		padding:70px 0 45px;
	}
	@media screen and (max-width: $break-mobile) {
		padding:70px 0 25px;
	}
	.section-header {
		text-align:center;
	}
	.date {
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		margin-bottom:24px;
		display:block;
	}
}
.full-image-wrp {
	margin-bottom:90px;
	@media screen and (max-width: $break-tabsmall) {margin-bottom:70px;}
	@media screen and (max-width: $break-mobile) {margin-bottom:25px;}
	.container {
		max-width: 1227px;
		text-align:center;
	}
}

.blockquote-wrap {
	padding:42px 0;
	@media screen and (max-width: $break-mobile) {
		padding:28px 0;
	}
	.container {
		max-width:820px;
	}
}

.share-post-wrap {
	padding:38px 0 140px;
	@media screen and (max-width: $break-tabsmall) {padding:32px 0 90px;}
	@media screen and (max-width: $break-mobile) {padding:22px 0 40px;}
	.container {
		max-width: 722px;
	}
	.share-inner {
		border-top:1px solid #f2f2f2;
		padding:20px 0;
		display:flex;
		align-items:center;
		justify-content:space-between;
		a.back {
			text-decoration:none;
			color:$base-color;
			transform:scale(-1);
		}
		ul.social {
			list-style:none;
			margin:0;
			padding:0;
			display:flex;
			align-items:flex-start;
			justify-content:center;
			text-align:center;
			li {
				padding:0 10px;
				a {
					width: 35px;
					height: 35px;
					box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
					background-color: #ffffff;
					border-radius:50%;
					display:flex;
					align-items:center;
					justify-content:center;
					text-decoration:none;
				}
			}
		}
	}
}
